
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorBackground);
  overflow-x: hidden; /* Rimuove la barra di scorrimento orizzontale */
  font-family: var(--font-family-text);
  font-weight: 400;
  font-style: normal;
}

/*about start*/

.grid-container{
    display: grid;
    grid-template-rows: 15vh auto auto 10vh 25vh;
    
}

.intro-content{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%;
}

.intro-title{
  text-align: center;
  font-size: calc(45px + 0.390625vw);
  font-size: bold;
  color: var(--color5);
}


.intro-text{
  text-align: center;
  color: var(--color5);
  max-width: 40vw;
}
.grid-about{
    max-width: 100%;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    column-gap: 5vw;
    justify-content: center; 
    align-items: center;  
}

.card{
    display: grid;
    grid-template-rows: 15% 70% 15%;
    height: 80%;
    width: auto;
    background-color: var(--color3);
    border-radius: 15px;
    aspect-ratio: 339.6 / 522.513;
    transition: box-shadow 0.3s ease;
    
}
.card:hover{
  box-shadow: 0 0 10px 5px white;
}


.names{
    display: flex;
    justify-content: center; 
    align-items: center;
    color: var(--color5);
}

.team-img{
    width: 100%;
    height:100%
}
.socials{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.social {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.img-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%; 
    height: 100%; 
}

.social-img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
}

@media screen and (min-width: 831px) {
  
  div.menu {visibility: hidden;}
}
@media screen and (max-width: 830px) {
    :root {
        --wideScreen: False;
    }

    div.navbar-body {visibility: hidden;
    }
    
    .grid-container{
        row-gap: 5vh;
    }
    .intro-text{
      text-align: center;
      max-width: 90vw;
    }
    .grid-about {
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto ; 
        row-gap: 5vh;
    }
    .card-container{
        display: flex;
        justify-content: center; 
        align-items: center;

    }
    .card{
        height: auto;
        width: 60%;
        aspect-ratio: 339.6 / 522.513;
        
    }
}
