:root {
    --color1: #cacaca;
    --color2: #f7d9ad;
    --color3: #542E71;
    --color4: #de7b0a;
    --color5: #d7b052;
    --color6: #2B1F4D;
    --colorBackground: #140221;
    --text: #e5e5e5;
    --dividers: #d1c2adda;
    --footer: #3b373dc7;
    --font-family-header: "Garamond", serif;
    --font-family-text: "Trebuchet MS", sans-serif;
    --font-family-navbar: "Roboto Condensed", sans-serif;
    --buttons: 'Tahoma', sans-serif;
  }

/*================================================*/
/* =============== Inizio Navbar =================*/      
/*================================================*/

#opaque-page {
    position: fixed;
    top: 15vh;
    height: 85vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: opacity 1ms ease;
}

#opaque-page.active {
  opacity: 0.5;
  visibility: visible;
  transition: opacity 0.5s ease;
}

#navbar {
  position: relative;
  height: 100%;
  background-color: var(--colorBackground);
  font-family: var(--font-family-navbar);
}

.rom-navbar {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: var(--colorBackground);
  border-bottom: 1px solid var(--dividers);
}

.rom-navbar #logo-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-box .logo {
  position: relative;
  background-image: url('../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 13vh;
  width: 13vh;
  border: none;
}

.navbar-body {
  position: inherit;
  display: grid;
  height: inherit;
  grid-template-columns: repeat(5, auto); /* Le colonne si restringono al contenuto */
  column-gap: 1px; /* Aggiungi uno spazio minimo tra le voci */
}

.nav-link-box {
  height: fit-content;
  display: grid;
  grid-template-rows: 3fr 1fr;
  align-self: center;
}

.nav-link-box .nav-link:hover + {
  background-color: var(--color5);
  transition: background-color 0.5s ease;
}

.nav-link {
  text-decoration: none; /* Rimuove la sottolineatura standard */
  position: relative; /* Necessario per posizionare il ::after */
  color: var(--color2);
  text-align: center;
  align-self: flex-end;
  transition: color 0.3s ease; /* Animazione del colore */
}

.nav-link::after {
  content: ''; /* Pseudo-elemento vuoto per creare la sottolineatura */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px; /* Posiziona la linea appena sotto il testo */
  width: 0; /* Larghezza iniziale */
  height: 2px; /* Spessore della sottolineatura */
  background-color: var(--color5); /* Colore della sottolineatura */
  transition: width 0.3s ease; /* Animazione della larghezza */
}

.nav-link:hover {
  color: var(--color5); /* Cambia il colore del testo */
  text-decoration: none !important;
}

.nav-link:hover::after {
  width: 140px; /* Espande la linea solo sotto la voce corrente */
}

.nav-link.perm {
  color: var(--color5); /* Colore del testo attivo */
}

.nav-link.perm::after {
    width: 140px; /* Larghezza della sottolineatura attiva */
}
  
  #menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  
  .toggle-btn {
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toggle-btn span {
    position: absolute;
    width: 40px;
    height: 4px;
    transition: 0.3s;
    background-color: var(--color5);
  }
  
  .toggle-btn span:first-child {
    transform: translateY(-8px);
  }
  
  .toggle-btn.x span:nth-child(2) {
    opacity: 0;
  }
  
  .toggle-btn span:last-child {
    transform: translateY(8px);
  }
  
  .toggle-btn.x span:first-child {
    transform: rotate(45deg) translateY(0);
  }
  
  .toggle-btn.x span:last-child {
    transform: rotate(-45deg) translateY(0);
  }
  
  #menu-links {
    position: absolute;
    height: 200px;
    width: 100%;
    display: none;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    z-index: 200;
  }
  
  #menu-links a {
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    color: var(--text);
    background-color: var(--color6);
    font-family: var(--buttons);
  }
  
  #menu-links a:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  #menu-links a:nth-child(odd) {
    background-color: var(--color3);
  }
  
  #menu-links a:hover {
    background-color: var(--color5);
  }

/*================================================*/
/* ================ Fine Navbar ==================*/
/*================================================*/

/*================================================*/
/* ============== Inizio upButton ================*/
/*================================================*/

#upButton {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 1;
  opacity: 0;
  transform: scale(0.5,0.5);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

#upButton.appear {
  opacity: 1;
  transform: scale(1,1);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

#upButton:hover {
  transition: transform 0.4s;
  transform: scale(1.1,1.1);
}

#upButton:active {
  transform: scale(0.5,0.5);
}

/*================================================*/
/* =============== Fine upButton =================*/
/*================================================*/

/*================================================*/
/* =============== Inizio footer =================*/
/*================================================*/

footer.footer {
    height: 100%;
    bottom: 0; /* Aligns it to the bottom of the parent */
    background-color: var(--footer);
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Aligns items vertically */
    justify-content: center;
    align-items: center;
    text-align: center !important; 
    color: var(--text);
    overflow: hidden;
    padding: 0% 4% 1% 4%;
    position: static;
}

.footer-icon {
  margin-top: 10px;
}

.footer-icon a img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  filter: grayscale(100%);
}

.footer-icon a img:hover {
  transform: scale(1.2);
  opacity: 0.8;
  filter: grayscale(0%);
}

/*================================================*/
/* ================ Fine footer ==================*/
/*================================================*/

/* Stile per i link */
footer a {
    color: var(--color4); /* Colore di base */
    text-decoration: none; /* Rimuove la sottolineatura */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Transizione morbida per il cambio di colore e la sottolineatura */
}

footer a:hover {
    color: #f9a340; /* Colore quando il mouse è sopra il link */
    text-decoration: underline; /* Sottolinea il link al passaggio del mouse */
}

footer a:active {
    color: #f5cea1; /* Colore quando il link viene cliccato */
}

/* Documenti full info */

h4 {
    font-family: var(--font-family-secondary);
    color: var(--text);
}

p {
    font-family: var(--font-family-primary);
    color: var(--text);
}


@media screen and (min-width: 831px) {
    #upButton {
        height: 90px;
        width: 90px;
    }

    div.menu {visibility: hidden;}
}

@media screen and (max-width: 830px) {
    #upButton {
        height: 70px;
        width: 70px;
    }
    
    div.navbar-body {visibility: hidden;}
}


/* Stile per lo spinner */

/* Classe che nasconde lo spinner e mostra il contenuto */
body.loaded .loading-screen {
    display: none;
}

    .spinner {
        border: 5px solid #f3f3f3; /* Colore grigio chiaro */
        border-top: 5px solid #f9883d; /* Colore blu per la parte rotante */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
    }

    /* Animazione per lo spinner */
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    /* Quando la pagina è caricata, nascondi lo spinner */
    .loaded .spinner {
        display: none;
    }

    .hide-spinner {
        display: none;
    }

    /* Pagina di caricamento */
    .loading-screen {
        position: fixed; /* Posiziona lo spinner in modo fisso */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #27232a; /* Colore di sfondo, modifica qui */
        z-index: 9999; /* Lo spinner è sopra gli altri contenuti */
    }

    /* Classe che nasconde lo spinner e mostra il contenuto */
    body.loaded .loading-screen {
        display: none;
    }

           /* ANIMAZIONi DISSOLVENZA */

.hidden-animation-bottom-up {
    opacity: 0; /* Invisibile all'inizio */
    transform: translateY(50px); /* Inizia fuori schermo */
    transition: opacity 0.3s ease, transform 0.3s ease;
}
    
/* Keyframe per la dissolvenza con entrata dal basso */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Partenza dal basso */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Posizione finale */
    }
}
    
        /* Classe per l'animazione ingrasso dal basso */
        .fade-in-up {
            animation: fadeInUp 1s ease-out; /* Durata e tipo di animazione */
            opacity: 1; /* Garantisce che l'elemento sia visibile */
        }
    
        /* Keyframe per l'animazione dall'alto (applicata a navbar) */
        @keyframes fadeInDown {
            0% {
                opacity: 0;
                transform: translateY(-50px); /* Partenza dall'alto */
            }
            100% {
                opacity: 1;
                transform: translateY(0); /* Posizione finale */
            }
        }
    
        /* Classe animazione per ingresso dall'alto */
        .fade-in-down {
            animation: fadeInDown 1s ease-out;
            opacity: 1;
            transform: translateY(0);
        }
    
        @keyframes fadeInRight {
            from {
                opacity: 0;
                transform: translateX(100%); /* Sposta l'elemento fuori dalla vista a destra */
            }
            to {
                opacity: 1;
                transform: translateX(0); /* Posizione iniziale */
            }
        }
    
        .fade-in-right {
            animation: fadeInRight 1s ease-out; /* Durata di 1 secondo */
            opacity: 1;
            transform: translateX(0);
        }


        /* Animazione di dissolvenza dal centro */
        @keyframes fadeInCenter {
            0% {
                opacity: 0;
                transform: scale(0.5); /* Inizia più piccolo */
            }
            100% {
                opacity: 1;
                transform: scale(1); /* Cresce alla dimensione originale */
            }
        }

        /* Classe animata per entrata dal centro */
        .fade-in-center {
            animation: fadeInCenter 2s ease-out;
            opacity: 1;
            transform: scale(1);
        }


        /* Animazione di dissolvenza da sinistra */
        @keyframes fadeInLeft {
            0% {
                opacity: 0;
                transform: translateX(-100%); /* Partenza a sinistra fuori schermo */
            }
            100% {
                opacity: 1;
                transform: translateX(0); /* Arrivo alla posizione finale */
            }
        }

        /* Classe animata per entrata da sinistra */
        .fade-in-left {
            animation: fadeInLeft 1s ease-out;
            opacity: 1;
            transform: translateX(0);
        }


        /* Animazione di dissolvenza da destra */
        @keyframes fadeInRight {
            0% {
                opacity: 0;
                transform: translateX(100%); /* Partenza a destra fuori schermo */
            }
            100% {
                opacity: 1;
                transform: translateX(0); /* Arrivo alla posizione finale */
            }
        }

        /* Classe animata per entrata da destra */
        .fade-in-right {
            animation: fadeInRight 1s ease-out;
            opacity: 1;
            transform: translateX(0);
        }

/* Per Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px; /* Larghezza della barra di scorrimento */
}

::-webkit-scrollbar-track {
  background: #d1c2ad4f; /* Colore dello sfondo della barra */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #d1c2ad3b; /* Colore del cursore */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e4d3bd52; /* Colore del cursore al passaggio del mouse */
}