:root {
    --color1: #dadada;
    --color2: #f7d9ad;
    --color3: #52003a;
    --color4: #de7b0a;
    --color5: #4c4c4c;
    --colorBackground: #100202;
}


/* Stile per lo spinner */
    .spinner {
        border: 5px solid #f3f3f3; /* Colore grigio chiaro */
        border-top: 5px solid #f9883d; /* Colore blu per la parte rotante */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
    }

    /* Animazione per lo spinner */
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    /* Quando la pagina è caricata, nascondi lo spinner */
    .loaded .spinner {
        display: none;
    }

    /* Stile per il contenuto principale */
    .content {
        display: none; /* Rende invisibile il contenuto fino al caricamento */
    }

    /* Pagina di caricamento */
    .loading-screen {
        position: fixed; /* Posiziona lo spinner in modo fisso */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.721); /* Colore di sfondo, modifica qui */
        z-index: 9999; /* Lo spinner è sopra gli altri contenuti */
    }

    /* Classe che nasconde lo spinner e mostra il contenuto */
    body.loaded .loading-screen {
        display: none;
    }

           /* ANIMAZIONi DISSOLVENZA */

           .hidden-animation-bottom-up {
            opacity: 0; /* Invisibile all'inizio */
            transform: translateY(50px); /* Inizia fuori schermo */
            transition: opacity 0.3s ease, transform 0.3s ease;
        }
    
        /* Keyframe per la dissolvenza con entrata dal basso */
        @keyframes fadeInUp {
            0% {
                opacity: 0;
                transform: translateY(50px); /* Partenza dal basso */
            }
            100% {
                opacity: 1;
                transform: translateY(0); /* Posizione finale */
            }
        }
    
        /* Classe per l'animazione ingrasso dal basso (applicata a gallery) */
        .fade-in-up {
            animation: fadeInUp 1s ease-out; /* Durata e tipo di animazione */
            opacity: 1; /* Garantisce che l'elemento sia visibile */
        }
    
        /* Keyframe per l'animazione dall'alto (applicata a navbar) */
        @keyframes fadeInDown {
            0% {
                opacity: 0;
                transform: translateY(-50px); /* Partenza dall'alto */
            }
            100% {
                opacity: 1;
                transform: translateY(0); /* Posizione finale */
            }
        }
    
        /* Classe animazione per ingresso dall'alto */
        .fade-in-down {
            animation: fadeInDown 1s ease-out;
            opacity: 1;
            transform: translateY(0);
        }
    
        @keyframes fadeInRight {
            from {
                opacity: 0;
                transform: translateX(100%); /* Sposta l'elemento fuori dalla vista a destra */
            }
            to {
                opacity: 1;
                transform: translateX(0); /* Posizione iniziale */
            }
        }
    
        .fade-in-right {
            animation: fadeInRight 1s ease-out; /* Durata di 1 secondo */
            opacity: 1;
            transform: translateX(0);
        }


        /* Animazione di dissolvenza dal centro */
        @keyframes fadeInCenter {
            0% {
                opacity: 0;
                transform: scale(0.5); /* Inizia più piccolo */
            }
            100% {
                opacity: 1;
                transform: scale(1); /* Cresce alla dimensione originale */
            }
        }

        /* Classe animata per entrata dal centro */
        .fade-in-center {
            animation: fadeInCenter 2s ease-out;
            opacity: 1;
            transform: scale(1);
        }


        /* Animazione di dissolvenza da sinistra */
        @keyframes fadeInLeft {
            0% {
                opacity: 0;
                transform: translateX(-100%); /* Partenza a sinistra fuori schermo */
            }
            100% {
                opacity: 1;
                transform: translateX(0); /* Arrivo alla posizione finale */
            }
        }

        /* Classe animata per entrata da sinistra */
        .fade-in-left {
            animation: fadeInLeft 1s ease-out;
            opacity: 1;
            transform: translateX(0);
        }


        /* Animazione di dissolvenza da destra */
        @keyframes fadeInRight {
            0% {
                opacity: 0;
                transform: translateX(100%); /* Partenza a destra fuori schermo */
            }
            100% {
                opacity: 1;
                transform: translateX(0); /* Arrivo alla posizione finale */
            }
        }

        /* Classe animata per entrata da destra */
        .fade-in-right {
            animation: fadeInRight 1s ease-out;
            opacity: 1;
            transform: translateX(0);
        }