/* Qui si mettono tutte le variabili */
:root {
  --wideScreen: True;

  --color2: #f7d9ad; /* colore headers */
  --color3: #542E71; /* colore pannello side search */

  --color5: #d7b052; /* colore oggettini */
  --color6: #2B1F4D;
  --colorBackground: #140221;
  --text: #e5e5e5;
  --dividers: #d1c2adda;
  --font-family-header: "Garamond", serif;
  --font-family-text: "Trebuchet MS", sans-serif;
  --font-family-navbar: "Georgia", serif;
  --buttons: 'Tahoma', sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--colorBackground);  
  font-family: var(--font-family-text);
  font-weight: 400;
  font-style: normal;
}


/* INZIO classi bottoni */

.btn {
  text-decoration: none;
  padding: 1%;
  cursor: pointer;
  color: var(--text);
  background-color: var(--colorBackground);
  border: 1px solid var(--color5);
  border-radius: 8px;
  font-size: 16px;
  font-family: var(--buttons);
}

.btn:hover {
  background-color: var(--color5);
}

.btn:active {
  background-color: #f5e2c6;
  transform: scale(0.95); /* Effetto di pressione */
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2); /* Ombra interna */
}

#about-content .btn span {
  position: relative;
  transition: 0.5s;
}

#about-content .btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#about-content .btn:hover span {
  padding-right: 25px;
}

#about-content .btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* FINE classi bottoni */

#box {
  display: grid;
  position: relative;
  margin: 0;
  height: inherit;
  width: inherit;
  grid-template-rows: 100vh 100vh auto 20vh 25vh;
}



/*================================================*/
/* =============== Inizio first-page =============*/      
/*================================================*/

#first-page {
  position: relative;
  height: inherit;
  width: inherit;
  display: grid;
  grid-template-rows: 15vh auto;
}

#welcome {
  flex: 1 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#img-left {
  background-color: grey;
}

#img-right {
  background-color: grey;
}

#center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#center h1 {
  position: relative;
  margin-top: 20%;
  text-align: center;
  color: var(--color2);
  font-family: var(--font-family-header);
}

#arrow {
  position: absolute;
  bottom: 0;
  animation: pointing 2s ease-out;
}

#arrow img {
  height: 100px;
  width: 100px;
}

@keyframes pointing {
  from {transform: translateY(-150%);}
  to {transform: translateY(0%);}
}

/*================================================*/
/* =============== Fine first-page ===============*/
/*================================================*/


/*================================================*/
/* =============== Inizio about ==================*/
/*================================================*/

#about {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  color: var(--mainColor);
}

#about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-content h2 {
  text-align: center;
  color: var(--color2);
  font-family: var(--font-family-header);
}

#about-content p {
  max-width: 500px;
  text-align: justify;
  color: var(--text);
}

/*================================================*/
/* =============== Fine about ==================*/
/*================================================*/
