/* Qui si mettono tutte le variabili */
:root {
  --wideScreen: True;
  --mainColor: #f10ff1;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-x: hidden;
}

/* INZIO classi bottoni */

.btn {
  background-color: var(--mainColor);
  color: white;
  text-decoration: none;
  padding: 1%;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

#about-content .btn span {
  position: relative;
  transition: 0.5s;
}

#about-content .btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#about-content .btn:hover span {
  padding-right: 25px;
}

#about-content .btn:hover span:after {
  opacity: 1;
  right: 0;
}

.item-btn .btn {
  padding: 2%;
  transition: box-shadow 0.4s;
}

.item-btn .btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.44), 0 17px 50px 0 rgba(0, 0, 0, 0.39);
}

/* FINE classi bottoni */

#box {
  display: grid;
  position: relative;
  margin: 0;
  height: inherit;
  width: inherit;
  grid-template-rows: 100vh 100vh auto 20vh 25vh;
}



/*================================================*/
/* =============== Inizio first-page =============*/      
/*================================================*/

#opaque-page {
  position: fixed;
  top: 15vh;
  height: 85vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  transition: opacity 1ms ease;
}

#opaque-page.active {
  opacity: 0.5;
  visibility: visible;
  transition: opacity 0.5s ease;
}

#upButton {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 1;
  visibility: hidden;
}

#upButton:hover {
  transition: transform 0.4s;
  transform: scale(1.1,1.1);
}

#upButton:active {
  transform: scale(0.5,0.5);
}

#first-page {
  position: relative;
  height: inherit;
  width: inherit;
  display: grid;
  grid-template-rows: 15vh auto;
}

/*================================================*/
/* =============== Inizio Navbar =================*/      
/*================================================*/

@media screen and (min-height: 890px) {
  div#timeline #line {
    top: 2%;
  }
}

@media screen and (max-width: 830px) {
  
  :root {
    --wideScreen: False;
  }

  #upButton {
    height: 70px;
    width: 70px;
  }
  
  div.navbar-body {visibility: hidden;}

  div#img-right {
    display: none;
  }

  div#img-left {
    display: none;
  }

  div#welcome {
    display: block;
    width: 100%;
  }

  div#center {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  div#center h1 {
    font-size: calc(10vw * 0.9vh);
    margin-top: 10%;
  }
 
  div#timeline #line {
    left: 7vw;
    width: 1.5vw;
  }

  div#timeline div.item div.empty-box {
    display:none;
  }

  div#timeline div.item{
    grid-template-columns: 1fr;
  }

  div#timeline div#items div.item div.item-wrapper div.data-box div.data{
    border-radius: 0 5px 5px 0;
  }

  div#timeline div.item-wrapper {
    margin-right: 22%;
    margin-left: 8%;
  }

  div#timeline div#items div.item div.item-wrapper div.item-space{
    margin-left: 5%;
  }
}

@media screen and (min-width: 831px) {
  
  #upButton {
    height: 90px;
    width: 90px;
  }

  div.menu {visibility: hidden;}

  div#banner {
    display: none;
  }

  div#timeline #line {
    width: 0.5vw;
  }

  div#timeline div#items div.item:nth-child(odd) div.item-wrapper{
    grid-template-columns: 5fr 1fr;
    grid-column: 1;
  }

  div#timeline div#items div.item:nth-child(odd) div.empty-box{
    grid-column: 2;
  }

  div#timeline div#items div.item:nth-child(odd) div.item-wrapper div.data-box div.data{
    grid-column: 2;
    margin-left: 30%;
    border-radius: 5px 0 0 5px;
  }

  div#timeline div#items div.item:nth-child(even) div.item-wrapper div.data-box div.data{
    margin-right: 30%;
    border-radius: 0 5px 5px 0;
  }

  div#timeline div#items div.item:nth-child(odd) div.item-wrapper div.item-space{
    grid-row: 1;
  }

  div#timeline div#items div.item:nth-child(odd) div.item-wrapper div.item-space div.image-box {
    right: 0;
  }

  div#timeline div#items div.item:nth-child(even) div.item-wrapper div.item-space div.image-box {
    left: 0;
  }
}

#navbar {
  position: relative;
  height: 100%;
}

.rom-navbar {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: inherit;
  background-color: #444;
  height: 13vh;
  width: 13vh;
  border: none;
}

.navbar-body {
  position: inherit;
  font-size: calc(15px + 0.390625vw);
  display: grid;
  height: inherit;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-link-box {
  height: fit-content;
  display: grid;
  grid-template-rows: 3fr 1fr;
  align-self: center;
}

.underline {
  position: inherit;
  background-color: var(--mainColor);
  height: 0.1vw;
  width: 100%;
}

.nav-link-box .nav-link:hover + .underline {
  background-color: white;
  transition: background-color 0.5s ease; /* Transizione più fluida */
}

.nav-link:visited {
  color: var(--mainColor);
}

.nav-link:hover {
  color: white;
}

.nav-link {
  text-decoration: none;
  position: inherit;
  color: var(--mainColor);
  text-align: center;
  align-self: flex-end;
  transition: color 0.3s ease; /* Transizione per colore */
}

#menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.toggle-btn {
  position: relative;
  width: 4vw;
  height: 4vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn span {
  position: absolute;
  width: 40px;
  height: 4px;
  transition: 0.3s;
  background-color: var(--mainColor);
}

.toggle-btn span:first-child {
  transform: translateY(-8px);
}

.toggle-btn.x span:nth-child(2) {
  opacity: 0;
}

.toggle-btn span:last-child {
  transform: translateY(8px);
}

.toggle-btn.x span:first-child {
  transform: rotate(45deg) translateY(0);
}

.toggle-btn.x span:last-child {
  transform: rotate(-45deg) translateY(0);
}

#menu-links {
  position: absolute;
  height: 200px;
  width: 100%;
  display: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  z-index: 2;
}

#menu-links a {
  color: var(--mainColor);
  background-color: #323232;
  text-decoration: none;
  font-size: calc(15px + 0.390625vw);
  text-align: center;
  padding: 10px 0;
}

#menu-links a:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#menu-links a:nth-child(odd) {
  background-color: #444;
}

#menu-links a:hover {
  color: white;
  background-color: var(--mainColor);
}

/*================================================*/
/* =============== Fine Navbar =================*/      
/*================================================*/


#welcome {
  flex: 1 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#img-left {
  background-color: grey;
}

#img-right {
  background-color: grey;
}

#center {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#banner {
  background-color: grey;
}

#center h1 {
  position: relative;
  margin-top: 15%;
  font-size: calc(50px + 0.390625vw);
  color: var(--mainColor);
  text-align: center;
}

#arrow {
  margin-bottom: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#arrow img {
  height: 100px;
  width: 100px;
  transition: 0.7s;
}

#arrow img:hover {
  height: 120px;
  width: 120px;
}

/*================================================*/
/* =============== Fine first-page ===============*/
/*================================================*/


/*================================================*/
/* =============== Inizio about ==================*/
/*================================================*/

#about {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  color: var(--mainColor);
}

#about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-content h2 {
  text-align: center;
  font-size: calc(45px + 0.390625vw);
}

#about-content p {
  max-width: 500px;
  text-align: justify;
  font-size: calc(15px + 0.390625vw);
}

/*================================================*/
/* =============== Fine about ==================*/
/*================================================*/

/*================================================*/
/* ============== Inizio timeline ================*/
/*================================================*/

#timeline {
  position: relative;
  height: 100%;
  width: 100%;
}

#timeline-start {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timeline-start h2 {
  position: relative;
  font-size: calc(45px + 0.390625vw);
  color: var(--mainColor);
  text-align: center;
}

#timeline-start p {
  position: relative;
  color:var(--mainColor);
  font-size: calc(20px + 0.390625vw);
  text-align: center;
}

#items {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

#line {
  position: absolute;
  left: 49.5vw;
  top: 2.8%;
  bottom: 0;
  margin: 0;
  border-radius: 6px;
  height: 97.4%;
  background-color: var(--mainColor);
}

.item {
  position: relative;
  margin-top: 5vh;
  height: 50vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item:last-child {
  margin-bottom: 15vh;
}

.item-wrapper {
  position: relative;
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.item-space {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: inherit;
  border-radius: 10px;
}

.image-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  min-width: 30%;
  border-radius: 10px;
  opacity: 0;
  animation: "";
}

.buttons-frame {
  position: relative;
  display: flex;
  height: inherit;
  width: inherit;
}

/* Animations for images - START */
@keyframes right-enter {
  from {opacity: 0; transform: translateX(100%);}
  to {opacity: 1; transform: translateX(0);}
}

@keyframes left-enter {
  from {opacity: 0; transform: translateX(-100%);}
  to {opacity: 1; transform: translateX(0);}
}
/* Animations for images - END */

.info-bar {
  height: 102%;
  width: 102%;
  border-radius: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.4s;
}

.info-bar.active {
  opacity: 1;
  transition: opacity 0.4s;
}

.info-bar p {
  padding: 0 10% 0 10%;
  justify-content: center;
  color: white;
  font-size: calc(15px + 0.390625vw);
}

.info-btn {
  transition: box-shadow 0.4s;
}

.info-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.44), 0 17px 50px 0 rgba(0, 0, 0, 0.39);
}

.infoButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 1;
  visibility: visible;
}

.infoCloser {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  visibility: hidden;
}

.info-bar h4 {
  position: relative;
  text-align: center;
  color: white;
  font-size: calc(20px + 0.390625vw);
}

.image-box img {
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
}

.item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-box {
  position: relative;
  margin-top: 25%;
  overflow: hidden;
}

.cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 91%;
  height: 103%;
  background-color: black;
}

.data {
  position: relative;
  color:#ffffff;
  font-size: calc(18px + 0.390625vw);
  height: fit-content;
  text-align: center;
  background-color: var(--mainColor);
  transition: width 0.5s ease;
}

/*================================================*/
/* ============== Fine timeline ================*/
/*================================================*/

/* =============== Inizio Footer =================*/   

footer {
  position: relative;
  height: 100%;
  background-color: rgb(77, 77, 77);
  color: #ffffff;
  text-align: center;
  font-size: calc(15px + 0.390625vw);
}

/* =============== Fine Footer =================*/