body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--colorBackground);  
  font-family: var(--font-family-text);
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4 {
  color: var(--color2);
  font-family: var(--font-family-header);
}

h1 {font-size: 70px;}
h2 {font-size: 30px;}
h3 {font-size: 25px;}
h4 {font-size: 15px;}

p {line-height: 1.5em;}


/* INZIO classi bottoni */

.btn {
  text-decoration: none;
  padding: 2%;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  color: var(--text);
  background-color: var(--colorBackground);
  border: 1px solid var(--color5);
  border-radius: 8px;
  font-size: 16px;
  font-family: var(--buttons);
}

.btn:hover {
  background-color: var(--color5);
}

.btn:active {
  background-color: #f5e2c6;
  transform: scale(0.95); /* Effetto di pressione */
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2); /* Ombra interna */
}

.btn span {
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* FINE classi bottoni */

#box {
  display: grid;
  position: relative;
  margin: 0;
  height: inherit;
  width: inherit;
  grid-template-rows: 100vh auto 25vh;
  gap: 20vh;
}



/*================================================*/
/* =============== Inizio first-page =============*/      
/*================================================*/

#first-page {
  position: relative;
  height: inherit;
  width: inherit;
  display: grid;
  grid-template-rows: 15vh auto;
}

#welcome {
  flex: 1 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#img-left {
  background-color: grey;
}

#img-right {
  background-color: grey;
}

#center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#center h1 {
  position: relative;
  margin-top: 20%;
  text-align: center;
}

#arrow {
  position: absolute;
  bottom: 0;
  animation: pointing 2s ease-out;
}

#arrow img {
  height: 100px;
  width: 100px;
}

@keyframes pointing {
  from {transform: translateY(-150%);}
  to {transform: translateY(0%);}
}

/*================================================*/
/* =============== Fine first-page ===============*/
/*================================================*/


/*================================================*/
/* =============== Inizio about ==================*/
/*================================================*/

#about {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  gap: 50vh;
}

/*============ Inizio Description ==============*/

#description {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

#texts {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

#buttons {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  padding: 1%;
  border-radius: 8px;
  background-color: var(--color3);
}

#buttons .btn {
  position: relative;
  height: 50px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*============ Fine Description ==============*/

/*============ Inizio Exhib-info ==============*/

#exhib-info {
  position: relative;
}

#info-box {
  position: relative;
  background-color: var(--color3);
  border-radius: 8px;
  padding: 2%;
}

#image-box {
  position: absolute;
  right: -15%;
  top: -35%;
  height: 200px;
  width: 500px;
}

#image-box img {
  max-width: 100%;
  max-width: 100%;
  border-radius: 8px;
}

#info-contents {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: fit-content fit-content;
  column-gap: 5%;
}

#info-contents ul {
  padding-inline-start: 20px;
}

#info-contents li {
  color: var(--text)
}

/*============ Fine Exhib-info ==============*/

/*============ Inizio Museum-panel ==============*/



/*============ Fine Museum-panel ==============*/

/*================================================*/
/* =============== Fine about ==================*/
/*================================================*/

@media screen and (max-width: 830px) {
  
  #about {
    padding-left: 10%;
    padding-right: 10%;
    gap: 30vh
  }

  #buttons .btn {
    height: 40px;
    width: 120px;
  }

  #image-box {
    position: relative;
    width: 100%;
    top: unset;
    right: unset;
  }

  #image-box img {
    max-width: 100%;
    max-height: 100%;
  }
}
