:root {
    --color1: #dadada;
    --color2: #f7d9ad;
    --color3: #52003a;
    --color4: #4e004f;
    --color5: #4c4c4c;
    --colorBackground: #100202;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--colorBackground);
    overflow-x: hidden; /* Rimuove la barra di scorrimento orizzontale */
}

#opaque-page {
    position: fixed;
    top: 15vh;
    height: 85vh;
    width: 100vw;
    z-index: 1;
    visibility: hidden;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(0);
    transition: backgroudn-color 0.2s ease, backdrop-filter 0.2s ease;
}

#opaque-page.active {
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(2px);
    visibility: visible;
    transition: backgroud-color 0.5s ease, backdrop-filter 0.5s ease;
}

#page-container {
    display: grid;
    position: relative;
    margin: 0;
    height: inherit;
    width: inherit;
    grid-template-rows: auto 25vh;
}

#page-container #main-container {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows: 15vh auto;
}

/* INIZIO Navbar/Hamburger-Menu */
#page-container #main-container #navbar {
    position: relative;
    height: 100%;
    background-color: var(--colorBackground);
}

.rom-navbar {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.rom-navbar #logo-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-box .logo {
    position: relative;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 13vh;
    width: 13vh;
    border: none;
}

.navbar-body {
    position: inherit;
    font-size: calc(15px + 0.390625vw);
    display: grid;
    height: inherit;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-link-box {
    height: fit-content;
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-self: center;
}

.underline {
    position: inherit;
    background-color: var(--color1);
    height: 0.1vw;
    width: 100%;
}

.nav-link-box .nav-link:hover + .underline {
    background-color: white;
    transition: background-color 0.5s ease; /* Transizione più fluida */
}

.nav-link:visited {
    color: var(--color1);
}

.nav-link:hover {
    color: white;
}

.nav-link {
    text-decoration: none;
    position: inherit;
    color: var(--color1);
    text-align: center;
    align-self: flex-end;
    transition: color 0.3s ease; /* Transizione per colore */
}

#menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.toggle-btn {
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-btn span {
    position: absolute;
    width: 40px;
    height: 4px;
    transition: 0.3s;
    background-color: var(--color2);
}

.toggle-btn span:first-child {
    transform: translateY(-8px);
}

.toggle-btn.x span:nth-child(2) {
    opacity: 0;
}

.toggle-btn span:last-child {
    transform: translateY(8px);
}

.toggle-btn.x span:first-child {
    transform: rotate(45deg) translateY(0);
}

.toggle-btn.x span:last-child {
    transform: rotate(-45deg) translateY(0);
}

#menu-links {
    position: absolute;
    height: 200px;
    width: 100%;
    display: none;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    z-index: 2;
}

#menu-links a {
    color: var(--color1);
    background-color: var(--color2);
    text-decoration: none;
    font-size: calc(15px + 0.390625vw);
    text-align: center;
    padding: 10px 0;
}

#menu-links a:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#menu-links a:nth-child(odd) {
    background-color: var(--color5);
}

#menu-links a:hover {
    color: white;
    background-color: var(--color1);
}
/* FINE Navbar/Hamburger-Menu */

/************************/
/* INIZIO items gallery */
/************************/

#gallery {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 8.5vh 76.5vh auto;
    z-index: 2;
}

#search-space {
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #3e3e3e;
    padding-bottom: 2%;
    width: 80%;
    margin: auto;
}


#search-bar {
    height: 100%;
    width: 830px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-div {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#narratives-space {
    height: 60%;
    gap: 5%;
}

/* Inizio area filtri narrative */

.narrative {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}


.select {
    position: relative;
    height: 1.2em;
    width: auto;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    background-color: var(--color2);
    color: #252222;
    border-radius: 2px;
}

.selected-box {
    position: relative;
}

.selected {
    position: relative;
}

.arrow-down {
    position: absolute;
    top: 30%;
    right: 3%;
    width: 0; 
    height: 0; 
    border-left: calc(1em / 2.5) solid transparent;
    border-right: calc(1em / 2.5) solid transparent;
    border-top: calc(1em / 2.5) solid white;
}

.toggle-options {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.options {
    background-color: var(--color2);
    z-index: 100;
    visibility: hidden;
    transition: visibility 0.3s ease, opacity 0.3s ease; /* Animazione fluida */
}
.options.visible {
    visibility: visible; /* Mostra il dropdown */
    opacity: 1; /* Rendi visibile */
}

.option {
    position: relative;
}

.option:hover {
    background-color: rgb(90, 90, 90);
}


/* Fine area filtri */

#searchButton-space {
    height: 40%;
    gap: 2%;
}

#results {
    font-style: italic;
    visibility: hidden;
}

#item-space {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2%;
    font-size: 1.5vw;
}

#details-space {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 14%;
}

#description {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 8%;
    font-size: 1.7vw;
}

.hidden {
    display: none;
}

/* INIZIO Image column */

#img-space {
    position: relative;
    height: 100%;
    width: 100%;
}

#switchPanel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    display: grid;
    grid-template-rows: 9fr 1fr;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#switcthPanel #arrowSection .switch {
    height: fit-content;
    width: fit-content;
}

#switchPanel #arrowSection .switch#left {
    position: absolute;
    left: 0;
    top: 40%;
}

#switchPanel #arrowSection .switch#right {
    position: absolute;
    right: 0;
    top: 40%;
}

.switchButton {
    height: 100px;
    width: 100px;
}

#switchPanel #indexSection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#switchPanel #indexSection #indicesBox {
    position: relative;
    background-color: antiquewhite;
    height: max-content;
    min-height: 40px;
    width: max-content;
    min-width: 100px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#switchPanel #indexSection #indicesBox .index {
    color: var(--color1);
    font-size: calc(14px + 0.390625vw);
    width: 1.5em;
    height: 1.5em;
    margin-left: 1%;
    margin-left: 1%;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#switchPanel #indexSection #indicesBox .index:hover {
    background-color: var(--color1);
    color: white;
}

#switchPanel #indexSection #indicesBox .highlighted {
    background-color: var(--color1);
    color: white;
}

.switchButton#rightButton {transform: rotate(180deg);}

.image-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    z-index: 2;
}
/* FINE Image column */


/****************/
/* FINE gallery */
/****************/

#page-container footer {
    position: relative;
    height: 100%;
    background-color: rgb(77, 77, 77);
    color: #ffffff;
    text-align: center;
    font-size: calc(15px + 0.390625vw);
}

/* INIZIO MEDIA QUERIES */
@media screen and (max-width: 830px) {

    div#page-container {
        grid-template-rows: auto 25vh;
    }
    
    div#page-container div#main-container {
        grid-template-rows: 15vh auto;
    }

    div.navbar-body {visibility: hidden;}

    div#gallery {grid-template-rows: 20vh auto;}

    div#item-space {
        grid-template-columns: none;
        grid-template-rows: 80vh auto;
    }

    div#img-space {grid-row: 1;}

    div#info-space {grid-row: 2;}

    div#search-bar {
        width: 80%;
    }
    
    #search-bar .search-div {
        margin-bottom: 20px; /* Adjust as needed */
    }
    
    #search-bar .narrative {
        margin-bottom: 20px; /* Add margin for each narrative item */
    }
    
    div#narratives-space {
        width: fit-content;
        align-self: center;
        align-items: flex-start;
        flex-direction: column;
    }

    div.narrative {
        height: calc(100% / 3);
    }

}

@media screen and (min-width: 831px) {

    div.menu {visibility: hidden;}
}
/* FINE MEDIA QUERIES */
