:root {
    --color1: #cacaca;
    --color2: #f7d9ad;
    --color3: #52003a;
    --color4: #de7b0a;
    --color5: #4c4c4c;
    --colorBackground: #100202;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--colorBackground);
    overflow-x: hidden; /* Rimuove la barra di scorrimento orizzontale */
}

#opaque-page {
    position: fixed;
    top: 15vh;
    height: 85vh;
    width: 100vw;
    z-index: 1;
    visibility: hidden;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(0);
    transition: backgroudn-color 0.2s ease, backdrop-filter 0.2s ease;
}

#opaque-page.active {
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(2px);
    visibility: visible;
    transition: backgroud-color 0.5s ease, backdrop-filter 0.5s ease;
}

#page-container {
    display: grid;
    position: relative;
    margin: 0;
    height: inherit;
    width: inherit;
    grid-template-rows: auto 25vh;
}

#page-container #main-container {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows: 15vh auto;
}

/* INIZIO Navbar/Hamburger-Menu */
#page-container #main-container #navbar {
    position: relative;
    height: 100%;
    background-color: var(--colorBackground);
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.rom-navbar {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--colorBackground);
    border-bottom: 1px solid #3e3e3e;
}

.rom-navbar #logo-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-box .logo {
    position: relative;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 13vh;
    width: 13vh;
    border: none;
}

.navbar-body {
    position: inherit;
    font-size: calc(15px + 0.390625vw);
    display: grid;
    height: inherit;
    grid-template-columns: repeat(4, auto); /* Le colonne si restringono al contenuto */
    column-gap: 1px; /* Aggiungi uno spazio minimo tra le voci */
}

.nav-link-box {
    height: fit-content;
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-self: center;
}

.nav-link-box .nav-link:hover + {
    background-color: white;
    transition: background-color 0.5s ease;
}

.nav-link:visited {
    color: var(--color1);
}

.nav-link {
    text-decoration: none; /* Rimuove la sottolineatura standard */
    position: relative; /* Necessario per posizionare il ::after */
    color: var(--color1);
    text-align: center;
    align-self: flex-end;
    transition: color 0.3s ease; /* Animazione del colore */
}

.nav-link::after {
    content: ''; /* Pseudo-elemento vuoto per creare la sottolineatura */
    position: absolute;
    left: 0;
    bottom: -2px; /* Posiziona la linea appena sotto il testo */
    width: 0; /* Larghezza iniziale */
    height: 2px; /* Spessore della sottolineatura */
    background-color: white; /* Colore della sottolineatura */
    transition: width 0.3s ease; /* Animazione della larghezza */
}

.nav-link:hover {
    color: white; /* Cambia il colore del testo */
}

.nav-link:hover::after {
    width: 100%; /* Espande la linea solo sotto la voce corrente */
}

#menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.toggle-btn {
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-btn span {
    position: absolute;
    width: 40px;
    height: 4px;
    transition: 0.3s;
    background-color: var(--color2);
}

.toggle-btn span:first-child {
    transform: translateY(-8px);
}

.toggle-btn.x span:nth-child(2) {
    opacity: 0;
}

.toggle-btn span:last-child {
    transform: translateY(8px);
}

.toggle-btn.x span:first-child {
    transform: rotate(45deg) translateY(0);
}

.toggle-btn.x span:last-child {
    transform: rotate(-45deg) translateY(0);
}

#menu-links {
    position: absolute;
    height: 200px;
    width: 100%;
    display: none;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    z-index: 2;
}

#menu-links a {
    color: var(--color1);
    background-color: var(--color2);
    text-decoration: none;
    font-size: calc(15px + 0.390625vw);
    text-align: center;
    padding: 10px 0;
}

#menu-links a:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#menu-links a:nth-child(odd) {
    background-color: var(--color5);
}

#menu-links a:hover {
    color: white;
    background-color: var(--color1);
}
/* FINE Navbar/Hamburger-Menu */

/************************/
/* INIZIO items gallery */
/************************/

.space_between {
    position: relative;
    height: 0px;
    display: flex;
    }

#gallery {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 8.5vh 5vh 76.5vh auto;
    z-index: 2;
}

#search-space {
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 7px;
}


#search-bar {
    height: 100%;
    width: 830px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-div {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#narratives-space {
    height: 60%;
    gap: 5%;
}

/* Inizio area filtri narrative */

.narrative {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    font-size: 1.2em;
}

.select {
    position: relative;
    height: 1.4em;
    width: auto;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    background-color: var(--colorBackground);
    color: #252222;
    border: solid 0.5px rgb(165, 165, 165);
    color: var(--color1);
    border-radius: 2px;
}

.select:hover {
    border: solid 0.5px white;
}

.selected-box {
    position: relative;
}

.selected {
    position: relative;
}

.arrow-down {
    position: absolute;
    top: 30%;
    right: 3%;
    width: 0; 
    height: 0; 
    border-left: calc(1em / 2.5) solid transparent;
    border-right: calc(1em / 2.5) solid transparent;
    border-top: calc(1em / 2.5) solid white;
}

.toggle-options {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.options {
    background-color: var(--color5);
    z-index: 10 !important;
    visibility: hidden;
    transition: visibility 0.3s ease, opacity 0.3s ease; /* Animazione fluida */
    border-radius: 3px;
}
.options.visible {
    visibility: visible; /* Mostra il dropdown */
    opacity: 1; /* Rendi visibile */
}

.option {
    position: relative;
}

.option:hover {
    background-color: rgb(90, 90, 90);
}

/* Fine area filtri */

/* Stile per il bottone "search" */
.search {
    background-color: var(--color2);
    color: var(--colorBackground);
    border: none;
    border-radius: 8px;
    padding: 6px 16px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer; /* Mostra il puntatore come cliccabile */
    transition: all 0.3s ease; /* Transizioni fluide per hover e active */
}

.search:hover {
    background-color: var(--colorBackground);
    color: var(--color2); /* Contrasto del testo in hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra */
    border: 1px solid #cfcfcf;
}

.search:active {
    background-color: calc(--colorBackground); /* Colore più scuro quando viene premuto */
    color: #ffffff; /* Testo bianco */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombra ridotta */
}


/* Fine bottone Search */

#searchButton-space {
    height: 40%;
    gap: 2%;
    padding: 2%;
}

#results {
    font-style: italic;
    visibility: hidden;
}

#item-space {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #3e3e3e;
    font-size: 1.3em;
    z-index: -1;
}

#details-space {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 14%;
}

#description {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 8%;
    font-size: 1.5em;
}

.hidden {
    display: none;
}

/* INIZIO Image column */

#img-space {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 5%;
}

#switchPanel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 1 !important;
    background-color: transparent;
    display: grid;
    grid-template-rows: 9fr 1fr;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

#switcthPanel #arrowSection .switch {
    height: fit-content;
    width: fit-content;
}

#switchPanel #arrowSection .switch#left {
    position: absolute;
    left: 0;
    top: 40%;
}

#switchPanel #arrowSection .switch#right {
    position: absolute;
    right: 0;
    top: 40%;
}

.switchButton {
    height: 100px;
    width: 100px;
}

#switchPanel #indexSection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#switchPanel #indexSection #indicesBox {
    position: relative;
    background-color: antiquewhite;
    height: max-content;
    min-height: 40px;
    width: max-content;
    min-width: 100px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#switchPanel #indexSection #indicesBox .index {
    color: var(--color1);
    font-size: calc(14px + 0.390625vw);
    width: 1.5em;
    height: 1.5em;
    margin-left: 1%;
    margin-left: 1%;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#switchPanel #indexSection #indicesBox .index:hover {
    background-color: var(--color1);
    color: white;
}

#switchPanel #indexSection #indicesBox .highlighted {
    background-color: var(--color1);
    color: white;
}

.switchButton#rightButton {transform: rotate(180deg);}

.image-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    z-index: 2;
}
/* FINE Image column */


/****************/
/* FINE gallery */
/****************/

#page-container footer {
    position: relative;
    height: 100%;
    background-color: rgb(77, 77, 77);
    color: #ffffff;
    text-align: center;
    font-size: calc(15px + 0.390625vw);
}

/* INIZIO MEDIA QUERIES */
@media screen and (max-width: 830px) {

    div#page-container {
        grid-template-rows: auto 25vh;
    }
    
    div#page-container div#main-container {
        grid-template-rows: 15vh auto;
    }

    div.navbar-body {visibility: hidden;}

    div#gallery {grid-template-rows: 20vh auto;}

    .space-between {
        height: 25px;
    }

    div#item-space {
        grid-template-columns: none;
        grid-template-rows: 80vh auto;
    }

    div#img-space {grid-row: 1;}

    div#info-space {grid-row: 2;}

    div#search-bar {
        width: 80%;
    }

    .options {
        z-index: 10 !important;
        background-color: calc(--color2) !important;
    }

    
    #search-bar .narrative {
        margin-bottom: 6%; /* Add margin for each narrative item */
    }
    
    div#narratives-space {
        width: fit-content;
        align-self: center;
        align-items: flex-start;
        flex-direction: column;
    }

    div.narrative {
        height: calc(100% / 3);
    }

}

@media screen and (min-width: 831px) {

    div.menu {visibility: hidden;}
}
/* FINE MEDIA QUERIES */

/* Less & More buttons */

.desc-button {
    
}
