:root {
    --mainColor: #f10ff1;
    --secondColor: #e380e3;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

img {
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
}

#opaque-page {
    position: fixed;
    top: 15vh;
    height: 85vh;
    width: 100vw;
    z-index: 1;
    visibility: hidden;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(0);
    transition: backgroudn-color 0.2s ease, backdrop-filter 0.2s ease;
}

#opaque-page.active {
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(2px);
    visibility: visible;
    transition: backgroud-color 0.5s ease, backdrop-filter 0.5s ease;
}

/*Inizio fullInfo div*/

#fullInfo {
    position: fixed;
    margin: 2vh;
    height: 96%;
    width: 98%;
    background-color: white;
    border-radius: 10px;
    z-index: 4;
    overflow-y: auto;
}

#fullInfoContent {
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
}

#fullInfoContent .header {
    background-color: var(--mainColor);
    font-size: calc(25px + 0.390625vw);
    text-align: center;
}

#fullInfoContent .header h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Queste classi sono scritte direttamente dentro ogni file fullInfo */
#fullInfoCloser {
    position: fixed;
    top: 5%;
    right: 5%;
}

#fullContentBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#fullContentBody-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.p-box {
    padding: 3%;
}

.p-box h4 {
    font-size: calc(20px + 0.390625vw);
}

.p-box p {
    font-size: calc(15px + 0.390625vw);
}

/*FINE fullInfo div*/

#page-container {
    display: grid;
    position: relative;
    margin: 0;
    height: inherit;
    width: inherit;
    grid-template-rows: 100vh 25vh;
}

#page-container #main-container {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows: 15vh 85vh;
}

/* INIZIO Navbar/Hamburger-Menu */
#page-container #main-container #navbar {
    position: relative;
    height: 100%;
}

#navbar {
    position: relative;
    height: 100%;
}

.rom-navbar {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.rom-navbar #logo-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-box .logo {
    position: relative;
    background-color: #444;
    height: 13vh;
    width: 13vh;
    border: none;
}

.navbar-body {
    position: inherit;
    font-size: calc(15px + 0.390625vw);
    display: grid;
    height: inherit;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-link-box {
    height: fit-content;
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-self: center;
}

.underline {
    position: inherit;
    background-color: var(--mainColor);
    height: 0.1vw;
    width: 100%;
}

.nav-link-box .nav-link:hover + .underline {
    background-color: white;
    transition: background-color 0.5s ease; /* Transizione più fluida */
}

.nav-link:visited {
    color: var(--mainColor);
}

.nav-link:hover {
    color: white;
}

.nav-link {
    text-decoration: none;
    position: inherit;
    color: var(--mainColor);
    text-align: center;
    align-self: flex-end;
    transition: color 0.3s ease; /* Transizione per colore */
}

#menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.toggle-btn {
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-btn span {
    position: absolute;
    width: 40px;
    height: 4px;
    transition: 0.3s;
    background-color: var(--mainColor);
}

.toggle-btn span:first-child {
    transform: translateY(-8px);
}

.toggle-btn.x span:nth-child(2) {
    opacity: 0;
}

.toggle-btn span:last-child {
    transform: translateY(8px);
}

.toggle-btn.x span:first-child {
    transform: rotate(45deg) translateY(0);
}

.toggle-btn.x span:last-child {
    transform: rotate(-45deg) translateY(0);
}

#menu-links {
    position: absolute;
    height: 200px;
    width: 100%;
    display: none;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    z-index: 2;
}

#menu-links a {
    color: var(--mainColor);
    background-color: #323232;
    text-decoration: none;
    font-size: calc(15px + 0.390625vw);
    text-align: center;
    padding: 10px 0;
}

#menu-links a:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#menu-links a:nth-child(odd) {
    background-color: #444;
}

#menu-links a:hover {
    color: white;
    background-color: var(--mainColor);
}
/* FINE Navbar/Hamburger-Menu */

/************************/
/* INIZIO items gallery */
/************************/
#page-container #main-container #gallery {
    position: relative;
    display: grid;
    grid-template-columns: 14% 40% 45%;
    grid-template-rows: 6% 93.5%;
    border-radius: 5px;
    column-gap: 0.5%;
    row-gap: 0.5%;
    margin: 4px;
}

#gallery .g-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gallery .header {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--mainColor);
    color: white;
    font-size: calc(15px + 0.390625vw);
}

/* INIZIO Narratives column */
#gallery #column-1 {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    background-color: var(--secondColor);
    overflow-y: auto;
    font-size: calc(13px + 0.390625vw);
}

/* Inizio area filtri */

#column-1 #guide {
    position: absolute;
    top: 15%;
    margin: 1%;
}

#guide .select {
    position: relative;
    display: flex;
    flex-flow: column;                
    margin-left: 3%;
    margin-top: 7px;
    margin-bottom: 15px;
    min-height: 15px;
}

.select .selected-box {
    position: absolute;
    top: 0;
    background-color: var(--mainColor);
    color: white;
    font-size: calc(11px + 0.390625vw);
    display: inline-flex;
    flex-flow: row;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px;
}

.arrow-down {
    position: relative;
    margin-top: 0.5em;
    margin-right: 3%;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid white;
}

.toggle-options {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.select .options {
    position: absolute;
    top: 1.5em;
    background-color: var(--mainColor);
    color: white;
    font-size: calc(11px + 0.390625vw);
    display: inline-flex;
    flex-flow: column;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px;
    z-index: 3;
    visibility: hidden;
}    

.select .options span, .select .selected-box span{
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

.select .options span:hover {
    background-color: rgb(117, 117, 117);
}

/* Fine area filtri */

#noResults {
    text-align: center;
    font-size: calc(11px + 0.390625vw);
}

/* FINE Narratives column */

/* INIZIO Image column */
#gallery #column-2 {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    background-color: var(--secondColor);
}

#column-2 #switchPanel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    display: grid;
    grid-template-rows: 9fr 1fr;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#switcthPanel #arrowSection .switch {
    height: fit-content;
    width: fit-content;
}

#switchPanel #arrowSection .switch#left {
    position: absolute;
    left: 0;
    top: 40%;
}

#switchPanel #arrowSection .switch#right {
    position: absolute;
    right: 0;
    top: 40%;
}

.switchButton {
    height: 100px;
    width: 100px;
}

#switchPanel #indexSection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#switchPanel #indexSection #indicesBox {
    position: relative;
    background-color: antiquewhite;
    height: max-content;
    min-height: 40px;
    width: max-content;
    min-width: 100px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#switchPanel #indexSection #indicesBox .index {
    color: var(--mainColor);
    font-size: calc(14px + 0.390625vw);
    width: 1.5em;
    height: 1.5em;
    margin-left: 1%;
    margin-left: 1%;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#switchPanel #indexSection #indicesBox .index:hover {
    background-color: var(--mainColor);
    color: white;
}

#switchPanel #indexSection #indicesBox .highlighted {
    background-color: var(--mainColor);
    color: white;
}

.switchButton#rightButton {transform: rotate(180deg);}

#column-2 .image-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
    height: 95%;
    width: 95%;
}
/* FINE Image column */

/* INIZIO Info column */
#gallery #column-3 {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--secondColor);
    display: grid;
    grid-template-rows: 45% 50% 5%;
    overflow-y: auto;
}

#column-3 #info {
    position: relative;
    height: 100%;
}

#info tr:nth-child(even){background-color: #d523d5;}

#column-3 #description {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 10% 90%;
}

#description #title {
    position: relative;
    font-weight: bold;
    text-align: center;
}

#description #infoBox {
    position: relative;
}

#description #infoBox p {
    position: relative;
    text-indent: 5%;
}

#readButtons{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #d523d5;
}

.hidden {display: none;}
/* FINE Data column */

/****************/
/* FINE gallery */
/****************/

#page-container footer {
    position: relative;
    height: 100%;
    background-color: rgb(77, 77, 77);
    color: #ffffff;
    text-align: center;
    font-size: calc(15px + 0.390625vw);
}

/* INIZIO MEDIA QUERIES */
@media screen and (max-width: 830px) {

    div.navbar-body {visibility: hidden;}
}

@media screen and (min-width: 831px) {

    div.menu {visibility: hidden;}
}
/* FINE MEDIA QUERIES */

       /* ANIMAZIONi DISSOLVENZA */

       .hidden-animation-bottom-up {
        opacity: 0; /* Invisibile all'inizio */
        transform: translateY(50px); /* Inizia fuori schermo */
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    /* Keyframe per la dissolvenza con entrata dal basso */
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(50px); /* Partenza dal basso */
        }
        100% {
            opacity: 1;
            transform: translateY(0); /* Posizione finale */
        }
    }

    /* Classe per l'animazione ingrasso dal basso (applicata a gallery) */
    .fade-in-up {
        animation: fadeInUp 1s ease-out; /* Durata e tipo di animazione */
        opacity: 1; /* Garantisce che l'elemento sia visibile */
    }

    /* Keyframe per l'animazione dall'alto (applicata a navbar) */
    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-50px); /* Partenza dall'alto */
        }
        100% {
            opacity: 1;
            transform: translateY(0); /* Posizione finale */
        }
    }

    /* Classe animazione per ingresso dall'alto */
    .fade-in-down {
        animation: fadeInDown 1s ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    @keyframes fadeInRight {
        from {
            opacity: 0;
            transform: translateX(100%); /* Sposta l'elemento fuori dalla vista a destra */
        }
        to {
            opacity: 1;
            transform: translateX(0); /* Posizione iniziale */
        }
    }

    .fade-in-right {
        animation: fadeInRight 1s ease-out; /* Durata di 1 secondo */
        opacity: 1;
        transform: translateX(0);
    }
