:root {
  --wideScreen: True;
  --color1: #cacaca;
  --color2: #f7d9ad;
  --color3: #542E71;
  --color4: #de7b0a;
  --color5: #d7b052;
  --color6: #2B1F4D;
  --colorBackground: #140221;
  --text: #e5e5e5;
  --dividers: #d1c2adda;
  --footer: #3b373dc7;
  --font-family-header: "Garamond", serif;
  --font-family-text: "Trebuchet MS", sans-serif;
  --font-family-navbar: "Roboto Condensed", sans-serif;
  --buttons: 'Tahoma', sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorBackground);
  overflow-x: hidden; /* Rimuove la barra di scorrimento orizzontale */
  font-family: var(--font-family-text);
  font-weight: 400;
  font-style: normal;
}

/* =============== Inizio Navbar =================*/      

/* INIZIO Navbar/Hamburger-Menu */
#page-container #main-container #navbar {
  position: relative;
  height: 100%;
  background-color: var(--colorBackground);
  font-family: var(--font-family-navbar);
}

.rom-navbar {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: var(--colorBackground);
  border-bottom: 1px solid var(--dividers);
}

.rom-navbar #logo-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-box .logo {
  position: relative;
  background-image: url('../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 13vh;
  width: 13vh;
  border: none;
}

.navbar-body {
  position: inherit;
  font-size: calc(15px + 0.390625vw);
  display: grid;
  height: inherit;
  grid-template-columns: repeat(4, auto); /* Le colonne si restringono al contenuto */
  column-gap: 1px; /* Aggiungi uno spazio minimo tra le voci */
}

.nav-link-box {
  height: fit-content;
  display: grid;
  grid-template-rows: 3fr 1fr;
  align-self: center;
}

.nav-link-box .nav-link:hover + {
  background-color: var(--color5);
  transition: background-color 0.5s ease;
}

.nav-link {
  text-decoration: none; /* Rimuove la sottolineatura standard */
  position: relative; /* Necessario per posizionare il ::after */
  color: var(--color2);
  text-align: center;
  align-self: flex-end;
  transition: color 0.3s ease; /* Animazione del colore */
}

.nav-link::after {
  content: ''; /* Pseudo-elemento vuoto per creare la sottolineatura */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px; /* Posiziona la linea appena sotto il testo */
  width: 0; /* Larghezza iniziale */
  height: 2px; /* Spessore della sottolineatura */
  background-color: var(--color5); /* Colore della sottolineatura */
  transition: width 0.3s ease; /* Animazione della larghezza */
}

.nav-link:hover {
  color: var(--color5); /* Cambia il colore del testo */
  text-decoration: none !important;
}

.nav-link:hover::after {
  width: 140px; /* Espande la linea solo sotto la voce corrente */
}

#menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.toggle-btn {
  position: relative;
  width: 4vw;
  height: 4vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn span {
  position: absolute;
  width: 40px;
  height: 4px;
  transition: 0.3s;
  background-color: var(--color2);
}

.toggle-btn span:first-child {
  transform: translateY(-8px);
}

.toggle-btn.x span:nth-child(2) {
  opacity: 0;
}

.toggle-btn span:last-child {
  transform: translateY(8px);
}

.toggle-btn.x span:first-child {
  transform: rotate(45deg) translateY(0);
}

.toggle-btn.x span:last-child {
  transform: rotate(-45deg) translateY(0);
}

#menu-links {
  position: absolute;
  height: 200px;
  width: 100%;
  display: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  z-index: 200;
}

#menu-links a {
  color: var(--text);
  background-color: var(--color6);
  text-decoration: none;
  font-size: calc(15px + 0.390625vw);
  text-align: center;
  padding: 10px 0;
}

#menu-links a:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#menu-links a:nth-child(odd) {
  background-color: var(--color3);
}

#menu-links a:hover {
  background-color: var(--color5);
}
/* FINE Navbar/Hamburger-Menu */
/* =============== Inizio map ===============*/

.container {
  display: grid;
  grid-template-rows: 15vh auto 85vh 20vh; 
  max-width: 100vw;
  row-gap: 3vh;
 
}
/* =============== Inizio nar menu ===============*/
.nar-container{
  display:flex;
  min-height: 30vh;
  height: 30vh;
  width: 100%;
}
.nar-grid {
  display: grid;
  grid-template-rows: 45% 45%; /* Each row takes 45% of the parent's height */
  gap: 10%; /* Adds spacing between rows (adjust as needed) */
  height: 100%; /* Ensure the parent container uses its full height */
  width: 100%; /* Ensure the parent container uses its full width */
}

.grid-it {
  width: 100%; /* Each grid item spans the full width */
 
}

#nar{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 15px;
}

.nar-but-container{
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.nar-but {
  background-color: var(--colorBackground);
  color: var(--text);
  border: 1px solid var(--color5);
  cursor: pointer;
  width: 50%;
  height:70%;
  border-radius: 10px;
  
}

.nar-but:hover {
  background-color: var(--color5);
}

#sub-nar {
  display: flex;
  flex-wrap: wrap; /* Allows buttons to wrap if needed */
  gap: 5%; /* Adds spacing between buttons */
  align-items: center;
  justify-content: center; /* Aligns buttons in a row, starting from the left */
  min-height: 12%;
  height: auto;
  margin-bottom: 2vh;
  
}

.sub-nar-but-container {
  width: auto; /* Ensures the width of the buttons adapts to the content */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-30px); /* Start slightly above */
  transition: transform 0.5s ease;
  min-width: 80px;
  height: 50px;
  
}

.sub-nar-but {
  background-color: var(--colorBackground);
  color: var(--text);
  border: 1px solid var(--color5);
  color: --text;
  cursor: pointer;
  width: 100%;
  height:100%;
  padding: 10px;
  border-radius: 10px;
  
}

.sub-nar-but:hover {
  background-color: var(--color5);
  

}

.active {
  background-color: var(--color5);
  
}

/* =============== fine nar menu ===============*/


.content {
  display: grid;
  grid-template-columns: 60vw 30vw; /* Two columns within second row */
  gap: 5vw;
  width: 100%;
  padding-bottom: 3vh;
}

.grid-element{
  border-radius: 15px;
}

#map-container {
  display: flex; /* Use flexbox to control content alignment */
  justify-content: center; /* Center the map horizontally */
  align-items: center; /* Center the map vertically */
  margin-left: 5vh;
}

#map {
  border-radius: 15px;
  width: 100%; 
  box-shadow: 0 0 10px 5px white;
  
}

/* =========list block========*/
#list-container{
 height: 100%;
 width: 100%;
}

#list-icon{
  display: none;
}

#list {
  padding:0px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  
  border-radius: 15px;
  min-height: 480px;

}

.itemList{
  margin-top: 10%;
  width: 100%;
  height:90%;
  color: var(--text);
}


.itemList li::marker {
  font-size: 1.5em; /* Increase the size of the bullet */
  color:var(--color4);   /* Change the color to purple */
}

.itemList li {
  cursor: pointer; /* Makes the element appear clickable */
  transition: border 0.2s ease, background-color 0.2s ease; /* Smooth transition effect */
}

.itemList li:hover {
  color: var(--color4); /* Black 1px border on hover */
  border-radius: 5px; /* Rounded corners for the border */
  background-color: var(--color6); /* Optional: Light gray background color on hover */
}


@media screen and (max-width: 830px) {
  /* Hide navbar body */
  .navbar-body {
    visibility: hidden;
  }

  /* Adjust container grid */
  .container {
    grid-template-rows: 15vh auto min-content 20vh; /* Three rows */
    
  }

  /* Content adjustments */
  .content {
    display: grid;
    grid-template-columns: 1fr; /* Single column */
    grid-template-rows: 40vh  min-content; /* Stack into two rows */
    padding-bottom: 0;
    
  }

  /* List adjustments */
  #list-container {
    display: grid;
    grid-template-rows: 10vh min-content;
  }

  

  /* Map container height */
  #map-container {
    height: fit-content; /* Ensures height fits content */
    margin-left: 0vh;
  }

  /* List icon alignment */
  #list-icon {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
  }

  /* Icon button styling */
  #icon-button {
    background: none; /* Remove default button styling */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Change cursor to pointer for button-like behavior */
  }

  /* Icon styling and hover effect */
  #icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease; /* Smooth scaling effect */
  }

  #icon:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
  }

  .itemList{
    margin-top: 0%;
  }


  /* List container hidden by default */
  #list {
    display: none;
  }
}



  /*================================================*/
  /* =============== Fine map ===============*/
  /*================================================*/
  
  
  /* =============== Inizio Footer =================*/
  
  .footer {
    position: relative;
    height: 100%;
    bottom: 0; /* Aligns it to the bottom of the parent */
    background-color: var(--footer);
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Aligns items vertically */
    justify-content: center;
    align-items: center;
    text-align: center !important; 
    color: var(--text);
    overflow: hidden;
    padding: 0% 4% 2% 4%;
    
  }
  
  
 /* =============== Fine Footer =================*/