.auto-search-wrapper input {
    padding: .375rem 0.75rem !important;
  }
  
  #loadingSpinnerSmall,
  .afterReading {
    display: none;
  }
  
  .form-group input.form-control {
    display: inline-block;
    border: none;
    border-bottom: 1px dashed #fff;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
    text-align: center;
    background-color: transparent;
    color: grey;
  }
  
  .auto-search-wrapper .form-control {
    max-width: 80%;
  }
  
  .form-control::placeholder {
    color: grey;
  }
  
  .form-control[type="date"]::-webkit-calendar-picker-indicator,
  .form-control[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    /* Inverte il colore dell'icona per renderla bianca */
  }
  
  .ball {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    box-shadow: inset 0px -8px 10px white;
    transition: 1s ease;
    cursor: pointer;
  }
  
  #ballContainer {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: inherit;
    margin: 1rem 1.4rem;
    background-color: rgba(var(--bs-dark-rgb));
    box-shadow: 0px 0px 10px white;
  }
  
  .sun {
    transform: rotate(180deg);
    box-shadow: inset -60px -60px 60px #fdb813, 6px 6px 35px #fdb813, -6px -6px 35px #fdb813;
  }
  
  .blue {
    background: lightblue;
  }
  
  .googleButton {
    background-color: transparent;
    text-transform: none;
    border: 1px solid rgb(169, 179, 202);
    font-weight: 600;
    font-size: 90%;
    letter-spacing: normal;
  }
  
  .facebookButton {
    background-color: transparent;
    text-transform: none;
    border: 1px solid rgb(169, 179, 202);
    font-weight: 600;
    font-size: 90%;
    letter-spacing: normal;
  }
  
  .googleButton:hover,
  .googleButton:active {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  }
  
  .facebookButton:hover,
  .facebookButton:active {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  }
  
  .facebookButton img {
    width: 24px;
    height: 24px;
  }
  
  .info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
  }
  
  .info-item {
    display: flex;
    align-items: center;
  }
  
  .info-icon {
    font-size: 30px;
    margin-right: 10px;
  }
  
  @media print {
    hr {
      page-break-after: always;
      display: block;
      visibility: hidden;
      height: 0;
      border: none;
    }
  
    .page-break {
      page-break-after: always;
    }
  
    .no-page-break {
      page-break-inside: avoid;
    }
  
    #readingWrapper, #readingWrapper * {
      color: black !important;
    }
  
    #readingWrapper #birthChartSVG svg, #readingWrapper #transitsSVG svg {
      width: 80%;
      height: 80%;
    }
  }
  
  #chartLegendContainer {
    display: flex;
    justify-content: center;
  }
  
  #chartLegend {
    display: flex;
    align-items: start;
    flex-direction: column;
  }

/*=============== Actually used ==================*/

body {
  margin: 0;
  background-color: black;
}

a:visited {
  color: #f10ff1;
}

#box {
  display: grid;
  position: relative;
  margin: 0;
  height: 100%;
  grid-template-rows: 100vh 100vh auto 25vh;
}



/*================================================*/
/* =============== Inizio first-page =============*/      
/*================================================*/

#first-page {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column;
}

/*================================================*/
/* =============== Inizio Navbar =================*/      
/*================================================*/

@media screen and (max-width: 830px) {
  
  div.navbar-body {visibility: hidden;}
  
  div#timeline span {
    left: 7vw;
  }

  div.item div.item-content {
    float: right;
    width: 60%;
    right: 5vw;
  }

  div.item div.item-content img {
    height: inherit;
    width: 70%;
    
  }

  div.item:nth-of-type(odd) .item-content {
    float: right;
  }

}

@media screen and (min-width: 831px) {
  div.menu {visibility: hidden;}

  div.item:nth-of-type(odd) .item-content {
    left: 5vw;
  }

  div.item:nth-of-type(even) .item-content {
    right: 5vw;
  }
}

#navbar {
  position: relative;
  flex: 0 1 auto;
}

.rom-navbar {
  position: relative;
  width: 100%;
  height: 120px;
  top: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.navbar-body {
  position: inherit;
  font-size: calc(15px + 0.390625vw);
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-link-box {
  height: fit-content;
  display: grid;
  grid-template-rows: 3fr 1fr;
  align-self: flex-end;
}

.underline {
  position: inherit;
  background-color: #f10ff1;
  height: 0.1vw;
  width: 100%;
}

.nav-link-box .nav-link:hover + .underline {
  background-color: white;
  transition: background-color 0.5s ease; /* Transizione più fluida */
}

.nav-link:visited {
  color: #f10ff1;
}

.nav-link:hover {
  color: white;
  transform: scale(1.1) translateY(-3px);
}

.nav-link {
  text-decoration: none;
  position: inherit;
  color: #f10ff1;
  text-align: center;
  align-self: flex-end;
  transition: color 0.3s ease, transform 0.3s ease; /* Transizione per colore e trasformazione */
}

.nav-link a { /* Lucrezia */
  text-decoration: none;
  color: #f10ff1;
  font-size: 1em;
  padding-bottom: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

#menu-button {
  position: relative;
  top: 40px;
  right: 10px;
  height: 60px;
}

.toggle-btn {
  position: relative;
  left: 67%;
  width: 4vw;
  height: 4vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn span {
  position: absolute;
  width: 40px;
  height: 4px;
  transition: 0.3s;
  background-color: #f10ff1;
}

.toggle-btn span:first-child {
  transform: translateY(-8px);
}

.toggle-btn.x span:nth-child(2) {
  opacity: 0;
}

.toggle-btn span:last-child {
  transform: translateY(8px);
}

.toggle-btn.x span:first-child {
  transform: rotate(45deg) translateY(0);
}

.toggle-btn.x span:last-child {
  transform: rotate(-45deg) translateY(0);
}

#menu-links {
  position: absolute;
  height: 200px;
  width: 100%;
  display: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  z-index: 2;
}

#menu-links a {
  background-color: #323232;
  text-decoration: none;
  font-size: calc(15px + 0.390625vw);
  text-align: center;
  padding: 10px 0;
}

#menu-links a:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#menu-links a:nth-child(odd) {
  background-color: #444;
}

#menu-links a:hover {
  color: white;
  background-color: #f10ff1;
}

.logo {
  position: inherit;
  background-color: #444;
  height: 100px;
  width: 100px;
  left: 25%;
  border: none;
}

/*================================================*/
/* =============== Fine Navbar =================*/      
/*================================================*/




#welcome {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#img-left {
  background-color: grey;
}

#img-right {
  background-color: grey;
}

#center {
  display: grid;
  grid-template-rows: 1fr auto;
}

#center h1 {
  margin-top: 20vh;
  font-size: calc(60px + 0.390625vw);
  color: #f10ff1;
  text-align: center;
}

#center #arrow {
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#center #arrow img {
  height: 100px;
  width: 100px;
  transition: 0.7s;
}

#center #arrow img:hover {
  height: 120px;
  width: 120px;
}

/*================================================*/
/* =============== Fine first-page ===============*/
/*================================================*/


/*================================================*/
/* =============== Inizio about ==================*/
/*================================================*/

#about {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

#about div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about h2 {
  font-size: calc(30px + 0.390625vw);
  color: #f10ff1;
  text-align: center;
}

#about p {
  color:#f10ff1;
  font-size: calc(15px + 0.390625vw);
  text-align: center;
}

/*================================================*/
/* =============== Fine about ==================*/
/*================================================*/

/*================================================*/
/* ============== Inizio timeline ================*/
/*================================================*/

#timeline {
  position: relative;
  width: 100%;
}

#timeline-start {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timeline-start h2 {
  position: relative;
  font-size: calc(30px + 0.390625vw);
  color: #f10ff1;
  text-align: center;
}

#timeline-start p {
  position: relative;
  color:#f10ff1;
  font-size: calc(15px + 0.390625vw);
  text-align: center;
}

#timeline #items {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

#timeline span {
  position: absolute;
  left: 50%;
  margin: 0;
  width: 4px;
  height: 100%;
  background-color: #f10ff1;
  z-index: -1;
}

#timeline .item {
  position: relative;
  width: 100%;
  height: 33vh;
  margin-top: 5vh;
  /*border:solid red;*/
}

.item .item-content {
  position: relative;
  width: 33%;
  height: 28.4vh;
  padding: 1em 2em;
  border-radius: 10px;
  background-color: #444;
}

.item:nth-of-type(even) .item-content {
  float: right;
}

#timeline .item:last-child {
  margin-bottom: 5vh;
}


/*================================================*/
/* ============== Fine timeline ================*/
/*================================================*/

/*================================================*/
/* ============= inizio narratives ===============*/
/*================================================*/
.content {
  text-align: center;
}

.icon{
  align-self: center;
  margin: 50px 0;
  width: 100px;
  height: auto;
}

.nar-h2 {
  font-size: 20px;
  margin: 20px 0;
  color: #f2f2f2;
}

/*modal*/

#sumModal {
  display: none; 
  position: fixed; 
  width: 60%; 
  height: 80%; 
  background-color: #f10ff1; 
  border-radius: 10px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1000;
}

#closebtn {
  background: none;
  border: none;
  color: #fb0505; 
  font-size: 20px; 
  font-weight: bold;
  cursor: pointer; 
  position: absolute; 
  top: 10px;
  right: 15px;
}

#modalContent {
  margin-top: 40px; /* Adds space below the close button */
}

#sumTitle {
  font-size: 24px; /* Larger title */
  margin-bottom: 10px;
  color: #333; /* Dark text for the title */
}

#modalContent p {
  font-size: 16px;
  color: #555; /* Slightly lighter text for the content */
  line-height: 1.5; /* Improve readability */
}

#goNar {
  height: 40px;
  width: 40%;
  position: absolute;
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #6c6c6c; 
  color: rgb(35, 179, 219); 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  
  transition: background-color 0.3s ease; 
}

#goNar:hover {
  background-color: #ffffff; /* Darker blue on hover */
}

@media (max-width: 1200px) {
  #sumModal {
    width: 60%; 
  }
}

@media (max-width: 1000px) {
  #sumModal {
    width: 70%; 
  }
}

@media (max-width: 800px) {
  #sumModal {
    width: 80%; 
  }
}

@media (max-width: 600px) {
  #sumModal {
    width: 90%;
  }
  #goNar {
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  #sumModal {
    width: 90%;
  }
  
  #goNar {
    font-size: 14px;
  }
}
 




/* ============ Buttoni Pietro====================*/      

.btnCont{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 50px ;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    
}

.narBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color:  #f10ff1;
  color: white;
  justify-content: center;
  height: 50px ;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  width: 40%; /* Responsive button width */
  max-width: 250px; /* Limit the button width */
}

.narBtn:hover {
  background-color: black;
  border: 1px solid #f10ff1;
}

.narBtn:active {
  background-color: black;
  border: 1px solid #f10ff1;
}


/* ============ Fine Buttoni Pietro ==============*/      


/*================================================*/
/* =============== Fine narratives ===============*/
/*================================================*/


/* =============== Inizio Footer =================*/   

footer {
  position: relative;
  height: 100%;
  background-color: rgb(77, 77, 77);
  color: #ffffff;
  text-align: center;
  font-size: calc(15px + 0.390625vw);
}

/* =============== Fine Footer =================*/