.auto-search-wrapper input {
    padding: .375rem 0.75rem !important;
  }
  
  #loadingSpinnerSmall,
  .afterReading {
    display: none;
  }
  
  .form-group input.form-control {
    display: inline-block;
    border: none;
    border-bottom: 1px dashed #fff;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
    text-align: center;
    background-color: transparent;
    color: grey;
  }
  
  .auto-search-wrapper .form-control {
    max-width: 80%;
  }
  
  .form-control::placeholder {
    color: grey;
  }
  
  .form-control[type="date"]::-webkit-calendar-picker-indicator,
  .form-control[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    /* Inverte il colore dell'icona per renderla bianca */
  }
  
  .ball {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    box-shadow: inset 0px -8px 10px white;
    transition: 1s ease;
    cursor: pointer;
  }
  
  #ballContainer {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: inherit;
    margin: 1rem 1.4rem;
    background-color: rgba(var(--bs-dark-rgb));
    box-shadow: 0px 0px 10px white;
  }
  
  .sun {
    transform: rotate(180deg);
    box-shadow: inset -60px -60px 60px #fdb813, 6px 6px 35px #fdb813, -6px -6px 35px #fdb813;
  }
  
  .blue {
    background: lightblue;
  }
  
  .googleButton {
    background-color: transparent;
    text-transform: none;
    border: 1px solid rgb(169, 179, 202);
    font-weight: 600;
    font-size: 90%;
    letter-spacing: normal;
  }
  
  .facebookButton {
    background-color: transparent;
    text-transform: none;
    border: 1px solid rgb(169, 179, 202);
    font-weight: 600;
    font-size: 90%;
    letter-spacing: normal;
  }
  
  .googleButton:hover,
  .googleButton:active {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  }
  
  .facebookButton:hover,
  .facebookButton:active {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  }
  
  .facebookButton img {
    width: 24px;
    height: 24px;
  }
  
  .info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
  }
  
  .info-item {
    display: flex;
    align-items: center;
  }
  
  .info-icon {
    font-size: 30px;
    margin-right: 10px;
  }
  
  @media print {
    hr {
      page-break-after: always;
      display: block;
      visibility: hidden;
      height: 0;
      border: none;
    }
  
    .page-break {
      page-break-after: always;
    }
  
    .no-page-break {
      page-break-inside: avoid;
    }
  
    #readingWrapper, #readingWrapper * {
      color: black !important;
    }
  
    #readingWrapper #birthChartSVG svg, #readingWrapper #transitsSVG svg {
      width: 80%;
      height: 80%;
    }
  }
  
  #chartLegendContainer {
    display: flex;
    justify-content: center;
  }
  
  #chartLegend {
    display: flex;
    align-items: start;
    flex-direction: column;
  }

/*=============== Actually used ==================*/

/* Qui si mettono tutte le variabili */
:root {
  --wideScreen: True;
  --mainColor: #f10ff1;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-x: hidden;
}

a:visited {
  color: var(--mainColor);
}

#box {
  display: grid;
  position: relative;
  margin: 0;
  height: inherit;
  width: inherit;
  grid-template-rows: 100vh 100vh auto 20vh 25vh;
}



/*================================================*/
/* =============== Inizio first-page =============*/      
/*================================================*/

#upButton {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 1;
  visibility: hidden;
}

#first-page {
  position: relative;
  height: inherit;
  width: inherit;
  display: flex;
  flex-flow: column;
}

/*================================================*/
/* =============== Inizio Navbar =================*/      
/*================================================*/

@media screen and (min-height: 890px) {
  div#timeline #line {
    top: 2%;
  }
}

@media screen and (max-width: 830px) {
  
  :root {
    --wideScreen: False;
  }

  #upButton {
    height: 70px;
    width: 70px;
  }
  
  div.navbar-body {visibility: hidden;}

  div#img-right {
    display: none;
  }

  div#img-left {
    display: none;
  }

  div#welcome {
    display: block;
    width: 100%;
  }

  div#center {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  div#center h1 {
    font-size: calc(10vw * 0.9vh);
    margin-top: 10%;
  }
 
  div#timeline #line {
    left: 7vw;
    width: 1.5vw;
  }

  div#timeline div.item div.empty-box {
    display:none;
  }

  div#timeline div.item{
    grid-template-columns: 1fr;
  }

  div#timeline div#items div.item div.item-wrapper div.data{
    margin-left: -45%;
    margin-right: 30%;
    border-radius: 0 5px 5px 0;
  }

  div#timeline div.item-wrapper {
    margin-right: 22%;
    margin-left: 13%;
  }
}

@media screen and (min-width: 831px) {
  
  #upButton {
    height: 90px;
    width: 90px;
  }

  div.menu {visibility: hidden;}

  div#banner {
    display: none;
  }

  div#timeline #line {
    width: 0.5vw;
  }

  div#timeline div#items div.item:nth-child(odd) div.item-wrapper{
    grid-template-columns: 5fr 1fr;
    grid-column: 1;
  }

  div#timeline div#items div.item:nth-child(odd) div.empty-box{
    grid-column: 2;
  }

  div#timeline div#items div.item:nth-child(odd) div.item-wrapper div.data{
    grid-column: 2;
    margin-left: 30%;
    border-radius: 5px 0 0 5px;
  }

  div#timeline div#items div.item:nth-child(even) div.item-wrapper div.data{
    margin-right: 30%;
    border-radius: 0 5px 5px 0;
  }

  div#timeline div#items div.item:nth-child(odd) div.item-wrapper div.item-space{
    grid-row: 1;
  }

  div#timeline div#items div.item:nth-child(odd) div.item-wrapper div.item-space div.image-box {
    right: 0;
  }

  div#timeline div#items div.item:nth-child(even) div.item-wrapper div.item-space div.image-box {
    left: 0;
  }
}


#navbar {
  position: relative;
  flex: 0 1 auto;
}

.rom-navbar {
  position: relative;
  width: 100%;
  height: 120px;
  top: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.navbar-body {
  position: inherit;
  font-size: calc(15px + 0.390625vw);
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-link-box {
  height: fit-content;
  display: grid;
  grid-template-rows: 3fr 1fr;
  align-self: center;
}

.underline {
  position: inherit;
  background-color: var(--mainColor);
  height: 0.1vw;
  width: 100%;
}

.nav-link-box .nav-link:hover + .underline {
  background-color: white;
  transition: background-color 0.5s ease; /* Transizione più fluida */
}

.nav-link:visited {
  color: var(--mainColor);
}

.nav-link:hover {
  color: white;
  transform: scale(1.1) translateY(-3px);
}

.nav-link {
  text-decoration: none;
  position: inherit;
  color: var(--mainColor);
  text-align: center;
  align-self: flex-end;
  transition: color 0.3s ease, transform 0.3s ease; /* Transizione per colore e trasformazione */
}

.nav-link a { /* Lucrezia */
  text-decoration: none;
  color: var(--mainColor);
  font-size: 1em;
  padding-bottom: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

#menu-button {
  position: relative;
  top: 40px;
  right: 10px;
  height: 60px;
}

.toggle-btn {
  position: relative;
  left: calc(55% * 0.9);
  width: 4vw;
  height: 4vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn span {
  position: absolute;
  width: 40px;
  height: 4px;
  transition: 0.3s;
  background-color: var(--mainColor);
}

.toggle-btn span:first-child {
  transform: translateY(-8px);
}

.toggle-btn.x span:nth-child(2) {
  opacity: 0;
}

.toggle-btn span:last-child {
  transform: translateY(8px);
}

.toggle-btn.x span:first-child {
  transform: rotate(45deg) translateY(0);
}

.toggle-btn.x span:last-child {
  transform: rotate(-45deg) translateY(0);
}

#menu-links {
  position: absolute;
  height: 200px;
  width: 100%;
  display: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  z-index: 2;
}

#menu-links a {
  color: var(--mainColor);
  background-color: #323232;
  text-decoration: none;
  font-size: calc(15px + 0.390625vw);
  text-align: center;
  padding: 10px 0;
}

#menu-links a:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#menu-links a:nth-child(odd) {
  background-color: #444;
}

#menu-links a:hover {
  color: white;
  background-color: var(--mainColor);
}

.logo {
  position: inherit;
  background-color: #444;
  height: 100px;
  width: 100px;
  left: 25%;
  border: none;
}

/*================================================*/
/* =============== Fine Navbar =================*/      
/*================================================*/


#welcome {
  flex: 1 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#img-left {
  background-color: grey;
}

#img-right {
  background-color: grey;
}

#center {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#center #banner {
  background-color: grey;
}

#center h1 {
  position: relative;
  margin-top: 15%;
  font-size: calc(50px + 0.390625vw);
  color: var(--mainColor);
  text-align: center;
}

#center #arrow {
  margin-bottom: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#center #arrow img {
  height: 100px;
  width: 100px;
  transition: 0.7s;
}

#center #arrow img:hover {
  height: 120px;
  width: 120px;
}

/*================================================*/
/* =============== Fine first-page ===============*/
/*================================================*/


/*================================================*/
/* =============== Inizio about ==================*/
/*================================================*/

#about {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  color: var(--mainColor);
}

#about #about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about #about-content h2 {
  text-align: center;
  font-size: calc(45px + 0.390625vw);
}

#about #about-content p {
  max-width: 500px;
  text-align: justify;
  font-size: calc(15px + 0.390625vw);
}

#about #about-content button {
  width: 10%;
  min-width: 128px;
}

/*================================================*/
/* =============== Fine about ==================*/
/*================================================*/

/*================================================*/
/* ============== Inizio timeline ================*/
/*================================================*/

#timeline {
  position: relative;
  height: 100%;
  width: 100%;
}

#timeline-start {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timeline-start h2 {
  position: relative;
  font-size: calc(45px + 0.390625vw);
  color: var(--mainColor);
  text-align: center;
}

#timeline-start p {
  position: relative;
  color:var(--mainColor);
  font-size: calc(20px + 0.390625vw);
  text-align: center;
}

#timeline #items {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

#timeline #line {
  position: absolute;
  left: 49.5vw;
  top: 2.8%;
  bottom: 0;
  margin: 0;
  border-radius: 6px;
  height: 97.4%;
  background-color: var(--mainColor);
}

#timeline .item {
  position: relative;
  margin-top: 5vh;
  height: 50vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#timeline .item:last-child {
  margin-bottom: 15vh;
}

#timeline .item-wrapper {
  position: relative;
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.item-wrapper .item-space {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: inherit;
  border-radius: 10px;
}

.item-wrapper .item-space .image-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  min-width: 30%;
  border-radius: 10px;
  opacity: 0;
  animation: "";
}

/* Animations for images - START */
@keyframes right-enter {
  from {opacity: 0; transform: translateX(100%);}
  to {opacity: 1; transform: translateX(0);}
}

@keyframes left-enter {
  from {opacity: 0; transform: translateX(-100%);}
  to {opacity: 1; transform: translateX(0);}
}
/* Animations for images - END */

.item-wrapper .item-space .image-box .info-bar {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
}

.item-wrapper .item-space .image-box .info-bar p {
  padding: 0 10% 0 10%;
  justify-content: center;
}

.item-wrapper .item-space .image-box .infoButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  visibility: visible;
}

.item-wrapper .item-space .image-box .infoCloser {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  visibility: hidden;
}

.item-wrapper .item-space .image-box .info-bar h4 {
  text-align: center;
  color: white;
  font-size: calc(20px + 0.390625vw);
}

.item-wrapper .item-space .image-box .info-bar p {
  color: white;
  font-size: calc(15px + 0.390625vw);
}

#timeline .item-wrapper .item-space .image-box img {
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
}

.item-wrapper .item-space .image-box .info-bar .bottone{
  display: flex;
  justify-content: center;
  height: 10%;
}

.item-wrapper .item-space .image-box .info-bar .bottone #timeButton{
  border-radius: 5px;
  border: 0;
  background-color:var(--mainColor);
  color: white;
  width: 50%;
  font-size: calc(10px + 0.390625vw);
}

.item-wrapper .item-space .image-box .info-bar .bottone #timeButton:hover {
  color:var(--mainColor);
  background-color: black;
  border: 2px solid var(--mainColor);
}

#timeline .item-wrapper .data {
  position: relative;
  color:#ffffff;
  font-size: calc(18px + 0.390625vw);
  margin-top: 25%;
  height: fit-content;
  text-align: center;
  background-color: var(--mainColor);
  animation: "mymove 5s";
}

@keyframes mymove {
  from {background-color: red;}
  to {background-color: orange;}
}

/*================================================*/
/* ============== Fine timeline ================*/
/*================================================*/

/*================================================*/
/* ============= inizio narratives ===============*/
/*================================================*/
.content {
  text-align: center;
}

.icon{
  align-self: center;
  margin: 50px 0;
  width: 100px;
  height: auto;
}

.nar-h2 {
  font-size: 20px;
  margin: 20px 0;
  color: #f2f2f2;
}

/*modal*/

#sumModal {
  display: none; 
  position: fixed; 
  width: 60%; 
  height: 80%; 
  background-color: var(--mainColor); 
  border-radius: 10px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1000;
}

#closebtn {
  background: none;
  border: none;
  color: #fb0505; 
  font-size: 20px; 
  font-weight: bold;
  cursor: pointer; 
  position: absolute; 
  top: 10px;
  right: 15px;
}

#modalContent {
  margin-top: 40px; /* Adds space below the close button */
}

#sumTitle {
  font-size: 24px; /* Larger title */
  margin-bottom: 10px;
  color: #333; /* Dark text for the title */
}

#sumCont {
  margin-top: 5%;
  padding-left: 3%;
  font-size: 16px;
  color: #555; /* Slightly lighter text for the content */
  line-height: 1.5; /* Improve readability */
  text-align: left;
  overflow-y: auto;

}

#goNar {
  height: 40px;
  width: 40%;
  position: absolute;
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #6c6c6c; 
  color: rgb(35, 179, 219); 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  
  transition: background-color 0.3s ease; 
}

#goNar:hover {
  background-color: #ffffff; /* Darker blue on hover */
}

@media (max-width: 1200px) {
  #sumModal {
    width: 60%; 
  }

}

@media (max-width: 1000px) {
  #sumModal {
    width: 70%; 
  }


}

@media (max-width: 800px) {
  #sumModal {
    width: 80%; 
    
  }

  
}

@media (max-width: 600px) {
  #sumModal {
    width: 90%;
  }
  #goNar {
    font-size: 14px;
  }

  #sumCont {
    font-size: 14px;
  }

  
}

@media (max-width: 300px) {
  #sumModal {
    width: 90%;
  }
  
  #goNar {
    font-size: 14px;
  }

  #sumCont {
    font-size: 12px;
  }


}
 




/* ============ Buttoni Pietro====================*/      

.btnCont{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 50px ;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    
}

.narBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color:  var(--mainColor);
  color: white;
  height: 5vh ;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  width: 40%;  /*Responsive button width */
  max-width: 250px; /* Limit the button width */
}

.narBtn:hover {
  background-color: black;
  border: 1px solid var(--mainColor);
}

.narBtn:active {
  background-color: black;
  border: 1px solid var(--mainColor);
}


/* ============ Fine Buttoni Pietro ==============*/      


/*================================================*/
/* =============== Fine narratives ===============*/
/*================================================*/


/* =============== Inizio Footer =================*/   

footer {
  position: relative;
  height: 100%;
  background-color: rgb(77, 77, 77);
  color: #ffffff;
  text-align: center;
  font-size: calc(15px + 0.390625vw);
}

/* =============== Fine Footer =================*/