.auto-search-wrapper input {
    padding: .375rem 0.75rem !important;
  }
  
  #loadingSpinnerSmall,
  .afterReading {
    display: none;
  }
  
  .form-group input.form-control {
    display: inline-block;
    border: none;
    border-bottom: 1px dashed #fff;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
    text-align: center;
    background-color: transparent;
    color: grey;
  }
  
  .auto-search-wrapper .form-control {
    max-width: 80%;
  }
  
  .form-control::placeholder {
    color: grey;
  }
  
  .form-control[type="date"]::-webkit-calendar-picker-indicator,
  .form-control[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    /* Inverte il colore dell'icona per renderla bianca */
  }
  
  .ball {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    box-shadow: inset 0px -8px 10px white;
    transition: 1s ease;
    cursor: pointer;
  }
  
  #ballContainer {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: inherit;
    margin: 1rem 1.4rem;
    background-color: rgba(var(--bs-dark-rgb));
    box-shadow: 0px 0px 10px white;
  }
  
  .sun {
    transform: rotate(180deg);
    box-shadow: inset -60px -60px 60px #fdb813, 6px 6px 35px #fdb813, -6px -6px 35px #fdb813;
  }
  
  .blue {
    background: lightblue;
  }
  
  .googleButton {
    background-color: transparent;
    text-transform: none;
    border: 1px solid rgb(169, 179, 202);
    font-weight: 600;
    font-size: 90%;
    letter-spacing: normal;
  }
  
  .facebookButton {
    background-color: transparent;
    text-transform: none;
    border: 1px solid rgb(169, 179, 202);
    font-weight: 600;
    font-size: 90%;
    letter-spacing: normal;
  }
  
  .googleButton:hover,
  .googleButton:active {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  }
  
  .facebookButton:hover,
  .facebookButton:active {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  }
  
  .facebookButton img {
    width: 24px;
    height: 24px;
  }
  
  .info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
  }
  
  .info-item {
    display: flex;
    align-items: center;
  }
  
  .info-icon {
    font-size: 30px;
    margin-right: 10px;
  }
  
  @media print {
    hr {
      page-break-after: always;
      display: block;
      visibility: hidden;
      height: 0;
      border: none;
    }
  
    .page-break {
      page-break-after: always;
    }
  
    .no-page-break {
      page-break-inside: avoid;
    }
  
    #readingWrapper, #readingWrapper * {
      color: black !important;
    }
  
    #readingWrapper #birthChartSVG svg, #readingWrapper #transitsSVG svg {
      width: 80%;
      height: 80%;
    }
  }
  
  #chartLegendContainer {
    display: flex;
    justify-content: center;
  }
  
  #chartLegend {
    display: flex;
    align-items: start;
    flex-direction: column;
  }

/*
@media screen and (max-width: 830px) {
  div.rom-navbar {display: none;}
}

@media screen and (min-width: 831px) {
  div.topnav {display: none;}
}
  */

.copyright {
  position: relative;
  z-index: -1;
  background-color: rgb(77, 77, 77);
  color: #ffffff;
  text-align: center;
  font-size: calc(15px + 0.390625vw);
  height: calc(25px + 0.390625vw);
}

.rom-navbar {
  position: relative;
  margin-top: 1vw;
  margin-bottom: 1.5vw;
  height: 4vw;
  width: 100%;
  background-color: #333;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.navbar-body {
  position: inherit;
  background: linear-gradient(to bottom, #e400ff, #7100b7);
  /*background-clip: text;
  color: transparent;*/
  text-align: center;
  font-size: calc(15px + 0.390625vw);
  display: grid;
  height: inherit;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  border: 3px solid pink;
}

.nav-link {
  position: inherit;
  color:inherit;
  align-self: flex-end;
  border: 3px solid orange;
}

.menu-bar {
  position: inherit;
  background-color: white;
  border: 3px solid green;
  height: inherit;
  display: grid;
  grid-template-rows: 2fr 4fr;
}

#menu-links {
  visibility: hidden;
  height: auto;
  background-color: #fdb813;
  font-size: calc(15px + 0.390625vw);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.menu-bar .icon {
  position: inherit;
  margin-right: 20px;
  font-size: calc(30px + 0.390625vw);
}

#menu-links a {
  position: inherit;
  text-decoration: none;
}

.logo {
  position: inherit;
  background-color: #444;
  border: 3px solid green;
  height: inherit;
}

.foot {
  position: inherit;
  background: linear-gradient(to bottom, #e400ff, #7100b7);
  height: 0.25vw;
  width: 100%;
  border: 1px solid red;
}

.menu-bar .icon {
  position: inherit;
  text-align: right;
}
