
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorBackground);
  overflow-x: hidden; /* Rimuove la barra di scorrimento orizzontale */
  font-family: var(--font-family-text);
  font-weight: 400;
  font-style: normal;
}

/* ============= inizio narratives ===============*/


.grid-container {
  display: grid;
  grid-template-rows: 15vh auto auto auto auto ;
  gap: 10px; 
  max-width: 100%;
}

.grid-item {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.icon{
  align-self: center;
  margin: 50px 0;
  width: 100px;
  height: auto;
}

.nar-h2 {
  font-family: var(--font-family-header);
  font-size: 20px;
  margin: 20px 0;
  color: var(--color2)
  
}

/*modal*/

.opaque {
    transition: opacity 0.5s ease, filter 0.5s ease;
    filter: blur(5px); /* Optional: Apply blur effect */
    pointer-events: none;
    overflow: "";
    
}

#sum{
  overflow: auto; /* Enable vertical scrolling */
  height: 100%;
}

#sumModal {
  display:grid;
  grid-template-rows:  1fr 2fr 5fr 2fr;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  position: fixed; 
  width: 60%; 
  height: 80%; 
  background-color: var(--color3); 
  border-radius: 10px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1000;
}

#sumModal.visible{
  pointer-events: all;
  opacity: 1 ;
  visibility: visible ;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#closebtn {
  background: none;
  border: none;
  font-size: 20px; 
  font-weight: bold;
  cursor: pointer; 
  position: absolute; 
  top: 10px;
  right: 15px;
}

#closebtnicon{
  width: 50px;
  Height:50px;
}

#sumTitle {
  font-size: 24px; /* Larger title */
  margin: 5%;
  color: var(--text); /* Dark text for the title */
  font: var( --font-family-header)
}

#sumCont {
  margin: 5%;
  font-size: 16px;
  color:var(--text); /* Slightly lighter text for the content */
  line-height: 1.5; /* Improve readability */
  text-align: left;
  overflow-y: auto;

}
#goNar-container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#goNar {
  
  text-decoration: none;
  padding: 1%;
  cursor: pointer;
  color: var(--text);
  background-color: var(--colorBackground);
  border: 1px solid var(--color5);
  border-radius: 8px;
  font-size: 16px;
  font-family: var(--buttons);
  transition: background-color 0.3s ease;
}


#goNar:hover {
  background-color: var(--color5); 
}

#goNar:active {
  background-color: #f5e2c6;
  transform: scale(0.95); /* Effetto di pressione */
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2); /* Ombra interna */
}

#goNar span {
  position: relative;
  transition: 0.5s;
}

#goNar span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#goNar:hover span {
  padding-right: 25px;
}

#goNar:hover span:after {
  opacity: 1;
  right: 0;
}

/* ============ Buttoni Pietro====================*/      


.btnCont{
  opacity: 0;
  transform: translateX(-25%); /* Start off-screen to the left */
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 50px ;
  border: none;
  padding: 10px 20px;
  margin: 5px;
}

.narBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color:var(--colorBackground);
  color: var(--text);
  height: 50px ;
  border: 1px solid var(--color5);
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  width: 40%;
  max-width: 250px; 
  font-family: var(--buttons);
}

.narBtn:hover {
  background-color: var(--color5);
    
}

.narBtn:active,
.narBtn.active {
  background-color: var(--color5);
    
}

/* ============ Fine Buttoni Pietro ==============*/     


@media (max-width: 600px) {
  #sumModal {
      width: 80%;
  }
}

@media (max-width: 300px) {
  #sumModal {
    width: 90%;
  }
}

/* ============ Animazioni ==============*/   
#content{
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.btnCont.animate {
  opacity: 1;
  transform: translateX(0); /* Move to the original position */
}

/*================================================*/
/* =============== Fine narratives ===============*/
/*================================================*/


