/*================================================*/
/* =============== Inizio Navbar =================*/      
/*================================================*/

body {
  background-color: black;
}
/* Qui si mettono tutte le variabili */
:root {
  --wideScreen: True;
  --mainColor: #f10ff1;
}
@media screen and (max-width: 830px) {

  :root {
      --wideScreen: False;
  }

  #upButton {
      height: 70px;
      width: 70px;
  }

div.navbar-body {visibility: hidden;}
}

@media screen and (min-width: 831px) {

  div.menu {visibility: hidden;}
}

#navbar {
  position: relative;
  height: 100%;
}

.rom-navbar {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.rom-navbar #logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-box .logo {
  position: inherit;
  background-color: #444;
  height: 13vh;
  width: 13vh;
  border: none;
}

.navbar-body {
  position: inherit;
  font-size: calc(15px + 0.390625vw);
  display: grid;
  height: inherit;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-link-box {
  height: fit-content;
  display: grid;
  grid-template-rows: 3fr 1fr;
  align-self: center;
}

.underline {
  position: inherit;
  background-color: var(--mainColor);
  height: 0.1vw;
  width: 100%;
}

.nav-link-box .nav-link:hover + .underline {
  background-color: white;
  transition: background-color 0.5s ease; /* Transizione più fluida */
}

.nav-link:visited {
  color: var(--mainColor);
}

.nav-link:hover {
  color: white;
}

.nav-link {
  text-decoration: none;
  position: inherit;
  color: var(--mainColor);
  text-align: center;
  align-self: flex-end;
  transition: color 0.3s ease; /* Transizione per colore */
}

#menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.toggle-btn {
  position: relative;
  width: 4vw;
  height: 4vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn span {
  position: absolute;
  width: 40px;
  height: 4px;
  transition: 0.3s;
  background-color: var(--mainColor);
}

.toggle-btn span:first-child {
  transform: translateY(-8px);
}

.toggle-btn.x span:nth-child(2) {
  opacity: 0;
}

.toggle-btn span:last-child {
  transform: translateY(8px);
}

.toggle-btn.x span:first-child {
  transform: rotate(45deg) translateY(0);
}

.toggle-btn.x span:last-child {
  transform: rotate(-45deg) translateY(0);
}

#menu-links {
  position: absolute;
  height: 200px;
  width: 100%;
  display: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  z-index: 2;
}

#menu-links a {
  color: var(--mainColor);
  background-color: #323232;
  text-decoration: none;
  font-size: calc(15px + 0.390625vw);
  text-align: center;
  padding: 10px 0;
}

#menu-links a:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#menu-links a:nth-child(odd) {
  background-color: #444;
}

#menu-links a:hover {
  color: white;
  background-color: var(--mainColor);
}

.grid-container{
  display: grid;
  grid-template-rows: 15vh auto 15vh;
}
  
  /* =============== Fine Navbar =================*/    
  
/*================================================*/
/* ============= inizio narratives ===============*/
/*================================================*/

body{
    background-color: black;
    max-width: 100%;  
}

#content{
    transition: opacity 0.5s ease, filter 0.5s ease;
}

.grid-container {
  display: grid;
  grid-template-rows: 15vh 50vh 50vh 50vh 25vh ;
  gap: 10px; 
  max-width: 100%;
}

.grid-item {
  text-align: center;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.icon{
  align-self: center;
  margin: 50px 0;
  width: 100px;
  height: auto;
}

.nar-h2 {
  font-size: 20px;
  margin: 20px 0;
  color: #f2f2f2;
}

/*modal*/

.opaque {
    transition: opacity 0.5s ease, filter 0.5s ease;
    filter: blur(5px); /* Optional: Apply blur effect */
    pointer-events: none;
    overflow: "";
    
  }

#sum{
  overflow: auto; /* Enable vertical scrolling */
  height: 100%;
}

#sumModal {
  display:grid;
  grid-template-rows:  1fr 2fr 5fr 2fr;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  position: fixed; 
  width: 60%; 
  height: 80%; 
  background-color: #c0c0c0ed; 
  border-radius: 10px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1000;
}

#sumModal.visible{
    pointer-events: all;
    opacity: 1 ;
    visibility: visible ;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#closebtn {
  background: none;
  border: none;
  font-size: 20px; 
  font-weight: bold;
  cursor: pointer; 
  position: absolute; 
  top: 10px;
  right: 15px;
}

#closebtnicon{
  width: 50px;
  Height:50px;
}



#sumTitle {
  font-size: 24px; /* Larger title */
  margin: 5%;
  color: #333; /* Dark text for the title */
}

#sumCont {
  margin: 5%;
  font-size: 16px;
  color: #555; /* Slightly lighter text for the content */
  line-height: 1.5; /* Improve readability */
  text-align: left;
  overflow-y: auto;

}

#goNar {
  height: 40px;
  width: 40%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  background-color: #f10ff1;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  transition: background-color 0.3s ease;
}


#goNar:hover {
background-color: #ffffff; /* Darker blue on hover */
}

@media (max-width: 1200px) {
    #sumModal {
        width: 60%; 
    }

}

@media (max-width: 1000px) {
    #sumModal {
        width: 70%; 
    }


}

@media (max-width: 800px) {
    #sumModal {
        width: 80%; 
        
}


    }

@media (max-width: 600px) {
    #sumModal {
        width: 90%;
    }
    #goNar {
        font-size: 14px;
    }

    #sumCont {
        font-size: 14px;
    }


}

@media (max-width: 300px) {
    #sumModal {
        width: 90%;
    }

    #goNar {
        font-size: 14px;
    }

    #sumCont {
        font-size: 12px;
    }
}
/* ============ Buttoni Pietro====================*/      

.btnCont{
    opacity: 0;
    transform: translateX(-25%); /* Start off-screen to the left */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 50px ;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    
}

.btnCont.animate {
  opacity: 1;
  transform: translateX(0); /* Move to the original position */
}

.narBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color:  #f10ff1;
    color: white;
    height: 50px ;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    width: 40%;
    max-width: 250px; 
}

.narBtn:hover {
    background-color: black;
    border: 1px solid #f10ff1;

}

.narBtn:active,
.narBtn.active {
    background-color: black;
    border: 1px solid #f10ff1;
}


/* ============ Fine Buttoni Pietro ==============*/      


/*================================================*/
/* =============== Fine narratives ===============*/
/*================================================*/


footer {
    position: relative;
    height: 100%;
    background-color: rgb(77, 77, 77);
    color: #ffffff;
    text-align: center;
    font-size: calc(15px + 0.390625vw);
  }